{% extends "base.html" %}
{% load staticfiles %}
{% block title %}HackLaunch - profile{% endblock %}

{% block profile-nav %}active{% endblock %}

{% block content %}
    <header class="services-header no-margin-bottom ">
        <div class="primary-dark-div wrap-pointers-profile">
            <div class="container ">
                <div class="row">
                    <div class="col-lg-8 col-lg-push-4 col-md-7 col-md-push-5 col-sm-6 col-sm-push-6">
                        <div class="profile-header-text">
                            <h1><strong>{{  profile.user.get_full_name }}</strong></h1>
                            <h2><strong>@{{ profile.user.username }}</strong></h2>
                        </div>
                    </div>
                </div>
                <div class="profile-avatar-container">
                    {% if profile.image %}
                        <img src="{{ profile.image.url }}" class="profile-avatar" alt="avatar"/>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <nav class="nav-profile">
        <div class="container">
            <div class="col-lg-8 col-lg-push-4 col-md-7 col-md-push-5 col-sm-6 col-sm-push-6">
                <ul class="profile-counters">
                    <li><a href="{% url 'user_projects' slug=profile.user.username %}">{{ profile.user.projectcreator_set.count }} <span>My Projects</span></a></li>
                    <li><a href="{% url 'user_projects' slug=profile.user.username %}">{{ profile.user.project_follower.count }} <span>Liked Projects</span></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-5">
                <h2 class="right-line">Personal Information</h2>
                <section>
                    <div class="panel panel-primary">
                        <div class="panel-heading"><i class="fa fa-user"></i> General Information</div>
                        <table class="table table-striped">
                            <tr>
                                <th>Fullname</th>
                                <td>{{ profile.user.get_full_name }}</td>
                            </tr>
                            <tr>
                                <th>Country</th>
                                <td>{{ profile.get_full_country_name }}</td>
                            </tr>
                            <tr>
                                <th>Member Since</th>
                                <td>{{ profile.user.getDateJoinedDayMonthYear }}</td>
                            </tr>
                        </table>
                    </div>
                </section>
                <h2 class="right-line">Experience</h2>
                <section>
                    <div class="panel panel-default">
                        <div class="panel-heading">Summary</div>
                        <div class="panel-body">
                            {% for maker_type in profile.maker_type.all %}
                                {% if maker_type.name != 'Other' %}
                                    <span> <strong>{{ maker_type.name }}</strong>
                                {% endif %}
                                {% if not forloop.last %}
                                     - </span>
                                {%  else %}
                                    </span>
                                {% endif %}
                            {% endfor %}
                            {% if profile.summary %}
                                <br>
                                <br>
                                <p>{{ profile.summary }}</p>
                            {% endif %}
                        </div>
                    </div>
                </section>

                <section>
                    <div class="panel panel-default">
                        <div class="panel-heading">Skills</div>
                        <div class="panel-body">
                            <ul style="padding-left: 0px">
                                {% for skill in profile.skills.all   %}
                                    <li style="display: inline-block; background-color: #F3F3F3; padding-left: 7px; padding-right: 7px; margin-right: 5px;">
                                        <div><span>{{ skill.name }}</span></div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-7">
                <h2 class="right-line">Latest Activity</h2>
                <ul class="timeline-2">
                    {% for activity in activities %}
                        <li class="wow fadeInRight">
                            <time class="timeline-time" datetime="">
                                {{ activity.get_activity_date }}
                            </time>
                            <i class="timeline-2-point"></i>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {% if activity.event_type == '2' or activity.event_type == '3' %}
                                        <i class="fa fa-plus-circle"></i>
                                    {% else %}
                                        <i class="fa fa-info-circle"></i>
                                    {% endif %}
                                    {{ activity.get_title }}
                                </div>
                                <div class="panel-body">
                                    <a href="{% url 'project_view' slug=activity.project.slug %}">{{ activity.get_body }}</a>
                                </div>
                            </div>
                        </li>
                        <br>
                    {% endfor %}

                    <li class="wow fadeInRight">
                        <time class="timeline-time" datetime="">
                            {{ profile.user.getDateJoinedDayMonthYear }}
                            <span>{{ profile.user.getDateJoinedMonth }}</span>
                        </time>
                        <i class="timeline-2-point"></i>

                        <div class="panel panel-default">
                            <div class="panel-heading"><i class="fa fa-info-circle"></i> Joined Hacklaunch</div>
                            <div class="panel-body">
                                <p>Became a founding member of the Hacklaunch community.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
