<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head></head>

<body>
<div><p>
    <span style="font-size: 10.0pt;font-family: Arial , sans-serif;">Howdy {{ first_name }} </span></p>

    <p>
        <span style="font-size: 10.0pt;font-family: Arial , sans-serif;">
            Thanks for signing up on <span>HackLaunch</span> the platform for innovators and innovations.
        </span>
    </p>

    <p> <span style="font-size: 10.0pt;font-family: Arial , sans-serif;">
        At <span>HackLaunch</span>, we are building a platform that will help you participate in hackathons, build your
        profile and projects to showcase your talent and work to the world.</span>
    </p>

    <p>
        <b><span lang="EN" style="font-size: 10.0pt;font-family: Arial , sans-serif;">
            We are at the start of our journey and our platform is currently in beta. Your feedback is extremely important to us as we continue
            to build out additional features.
      </span></b>
    </p>

    <p>
        <span style="font-size: 10.0pt;font-family: Arial , sans-serif;">
            On the slightest whim, you can email to us at <a href="mailto:howdy@hacklaunch.com">howdy@hacklaunch.com</a> or tweet us @<span>hacklaunch</span>.
        </span>
    </p>

    <p>
        <span style="font-size: 10.0pt;font-family: Arial, sans-serif;">
            Whether you need help, have ideas or just want to say hello, just reply to this email and we will get back to you.
        </span>
    </p>

    <p>
        <span style="font-size: 10.0pt;font-family: Arial , sans-serif;">Jaime and <span>The</span> <span>HackLaunch</span> Team</span>
    </p>

</div>
</body>
