{% load staticfiles %}
{% load url from future %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>{% block title %}{% endblock %}</title>

    <link rel="shortcut icon" href="{% static "images/favicon.gif" %}">

    <meta name="description" content="">

    <!-- CSS -->
    <link href="{% static "css/preload.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/yamm.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/bootstrap-switch.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/slidebars.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/lightbox.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/jquery.bxslider.css" %}" rel="stylesheet">
    <link href="{% static "css/syntaxhighlighter/shCore.css" %}" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.min.css">

    <link href="{% static "css/style-green.css" %}" rel="stylesheet" media="screen" title="default">
    <link href="{% static "css/width-full.css" %}" rel="stylesheet" media="screen" title="default">

    <link href="{% static "css/buttons.css" %}" rel="stylesheet" media="screen">


{% block extra_css %}
{% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.min.js" %}"></script>
        <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->

</head>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<body>

<div id="sb-site">
    <div class="boxed">
        <header id="header-full-top" class="hidden-xs header-full">
            <div class="container">
                <div class="header-full-title">
                    <h1 class="animated fadeInRight">
                        <a href="/" style="font-family: virgo; color: #44505D">
                            H<span style="color: #84E21D">a</span>ckl<span style="color: #84E21D">a</span>unch
                        </a>
                    </h1>

                    <p class="animated fadeInRight">The platform for innovators and innovations</p>
                </div>
                <nav class="top-nav">
                    <ul class="top-nav-social hidden-sm">
                        <li><a href="http://www.twitter.com/hacklaunch"
                               class="animated fadeIn animation-delay-7 twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        </li>
                        <li><a href="http://www.facebook.com/hacklaunch"
                               class="animated fadeIn animation-delay-8 facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        </li>
                        <li><a href="http://plus.google.com/+Hacklaunch"
                               class="animated fadeIn animation-delay-9 google-plus">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        </li>
                        <li><a href="http://www.instagram.com/hacklaunch"
                               class="animated fadeIn animation-delay-9 instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                        </li>
                        <li><a href="http://www.pinterest.com/hacklaunch"
                               class="animated fadeIn animation-delay-7 pinterest">
                            <i class="fa fa-pinterest"></i>
                        </a>
                        </li>
                    </ul>

                    {% if not user.is_anonymous %}
                        <div class="dropdown animated fadeInDown animation-delay-11" id="user_dropdown">
                            {% if user.userprofile.thumbnail %}
                                <a href="#" id="user_dropdown_lable" class="dropdown-toggle" data-toggle="dropdown" style="border: 0px; padding: 5px 0px 0px 0px;">
                                    <img src="{{ user.userprofile.thumbnail.url }}" alt="{{ user.get_full_name }}" class="img-circle" >
                                </a>
                            {%  else %}
                                <a href="#" id="user_dropdown_lable" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-user">
                                        {% if user.first_name %}
                                            {{ user.first_name }}
                                        {% else %}
                                            Anonymous user
                                        {% endif %}
                                    </i>
                                </a>
                            {%  endif %}

                            <div class="dropdown-menu dropdown-menu-right animated fadeInUp">
                                <div style="margin-left: 10px">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <a href="/users/{{ user.userprofile.slug }}/edit" id="top-dropdown-link"><b>Edit profile</b></a>
                                </div>
                                <div style="margin-left: 10px">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    <a href="/logout" id="top-dropdown-link"><b>Logout</b></a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="dropdown animated fadeInDown animation-delay-11">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Sign-in</a>


                            <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInUp">
                                <h4 style="text-align: center"><b>Sign-in or Sign-up</b></h4>

                                <p style="text-align: center; margin-bottom: 0px">With a single click</p>

                                <div id="logincontainer">
                                    <ul class="top-nav-social hidden-sm">
                                        <li>
                                            <a href="{% url 'social:begin' "github" %}"
                                               class="animated fadeIn animation-delay-7 git">
                                                <i class="fa fa-github fa-4x"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'social:begin' "facebook" %}"
                                               class="animated fadeIn animation-delay-7 facebook">
                                                <i class="fa fa-facebook fa-4x"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'social:begin' "linkedin-oauth2" %}"
                                               class="animated fadeIn animation-delay-7 linkedin">
                                                <i class="fa fa-linkedin fa-4x"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div id="signin-divider">
                                    <div class="col-sm-8 division">
                                        <div class="line l"></div>
                                        <span><p> or </p></span>

                                        <div class="line r"></div>
                                    </div>
                                </div>

                                <p style="text-align: center">With a username and password</p>

                                <div class="form-group">
                                    <form id="top-login-form" method="post"
                                          action="{% url 'complete' "email" %}"
                                          onsubmit="return validateSignup('top')">
                                        {% csrf_token %}
                                        <div id="top_signup_email_group" class="input-group login-input">
                                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                            {% render_field login_form.email id="top-email" class="form-control" type="email" name="email" placeholder="email address" %}

                                        </div>

                                        <div id="top_signup_password_group" class="input-group login-input"
                                             style="margin-top: 5px; margin-bottom: 8px;">
                                            <span class="input-group-addon"><i class="fa fa-lock"
                                                                               style="padding-right: 4px"></i></span>

                                            {% render_field login_form.password id="top-password" class="form-control" type="password" placeholder="password" onkeyup="topLoginMessage.passwordStrength(this.value)" %}

                                        </div>

                                        <div id="top-login-message">
                                            {% for error in form.password.errors %}
                                                <p class="text-muted">
                                                    <span id="login-warning" class="label label-danger"> Warning</span>
                                                    <span style="margin-left:5px; color: #666">{{ error }}</span>
                                                </p>
                                            {% endfor %}

                                            {% for error in form.email.errors %}
                                                <p class="text-muted">
                                                    <span id="login-warning" class="label label-danger"> Warning</span>
                                                    <span style="margin-left:5px; color: #666">{{ error }}</span>
                                                </p>
                                            {% endfor %}

                                            {% if form.non_field_errors %}
                                                <p class="text-muted">
                                                    <span id="login-warning" class="label label-danger"> Warning</span>
                                                    <span style="margin-left:5px; color: #666;">{{ form.non_field_errors | striptags}}</span>
                                                </p>
                                            {% endif %}
                                        </div>

                                        <a href="/password_reset"
                                           style="background-color: #f4f4f4; font-family: 'Open Sans', sans-serif; font-size: 14px; border-width: 0px; color: #82E01B">Forgotten
                                            your password?</a>

                                        <button type="submit" class="btn btn-ar btn-primary pull-right">
                                            Sign in
                                        </button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    {% endif %}
                    <div class="dropdown animated fadeInDown animation-delay-13">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-search-box animated fadeInUp">
                            <form role="form" action="{% url 'haystack_search' %}">
                                <div class="input-group">
                                    <input type="search" name="q" class="form-control" placeholder="What would you like to find?">
                                    <span class="input-group-btn">
                                        <button class="btn btn-ar btn-primary" type="submit" style="padding-bottom: 7px; ">
                                            <i class="fa fa-search" style="margin: 0px;"></i>
                                        </button>
                                    </span>
                                </div><!-- /input-group -->
                            </form>
                        </div>
                    </div>
                 <!-- dropdown -->
                </nav>
            </div>
            <!-- container -->
        </header>
        <!-- header-full -->
        <nav class="navbar navbar-static-top navbar-default navbar-header-full navbar-dark" role="navigation"
             id="header">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header hidden-xs">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand hidden-lg hidden-md hidden-sm" href="index.html">Hacklaunch</a>
                </div>
                <!-- navbar-header -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="pull-right">
                    <a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right"><i class="fa fa-bars"></i></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {# blocks needed to select active tab #}
                        <li class="{% block home-nav %}{% endblock %}"><a href="/">Home</a></li>
                        <li class="{% block events-nav %}{% endblock %}"><a href="/events/innovate-or-die">Events</a></li>
                        {% if not user.is_anonymous %}
                            <li class="{% block profile-nav %}{% endblock %}">
                                <a href="/users/{{ user.userprofile.slug }}">Profile</a>
                            </li>
                        {% endif %}
                        <li class="{% block projects-nav %}{% endblock %}"><a href="{% url 'project_list' %}">Projects</a></li>
                    </ul>
                </div>
                <!-- navbar-collapse -->
            </div>
            <!-- container -->
        </nav>


        <!-- CONTENT -->
        {% block content %}
        {% endblock %}

        <!-- FOOTER -->

        <!-- WIDGETS -->
        <aside id="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <h3 class="footer-widget-title">Site Map</h3>
                        <ul class="list-unstyled three_cols">
                            <li><a href="/">Home</a></li>
                            <li><a href="/events/innovate-or-die">Events</a></li>
                            <li><a href="{% url 'project_list' %}">Projects</a></li>
                            {% if not user.is_anonymous %}
                                <li><a href="/users/{{ user.userprofile.slug }}">Profile</a></li>
                            {% endif %}
                            <li><a href="/credits">Credits</a></li>
                            <li><a href="/terms">Terms</a></li>
                            <li><a href="{% url 'haystack_search' %}">Search</a></li>
                        </ul>

                        <!-- /input-group -->
                    </div>
                    <div class="col-md-8" style="margin-top: 15px; text-align: center;">
                       <a class="twitter-timeline" href="https://twitter.com/hacklaunch" data-widget-id="584618298320396288">Tweets by @hacklaunch</a>
                        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                    </div>
                    <div class="col-md-2">
                        <div class="footer-widget">
                            <h3 class="footer-widget-title">Contact Us</h3>
                            <address>
                                <p>+65 9105 2219</p>
                                <p>71 Ayer Rajah Crescent &#x23;02-18, Singapore 139951</p>

                                <script language="JavaScript">
                                    var username = "contact";
                                    var hostname = "hacklaunch";
                                    var linktext = username + "@" + hostname + ".com";
                                    document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + ".com" + "'>" + linktext + "</a>");
                                </script>
                            </address>
                        </div>
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </aside>
        <!-- footer-widgets -->

        <!-- FOOTER -->

        <footer id="footer">
            <ul>
                <li style="display: inline; padding-right: 5px; padding-left: 5px;"><a href="/credits">Credits</a></li>
                <li style="display: inline; padding-right: 5px; padding-left: 5px;">-</li>
                <li style="display: inline; padding-right: 5px; padding-left: 5px;"><a href="/terms">Terms of service</a></li>
                <li style="display: inline; padding-right: 5px; padding-left: 5px;">-</li>
                <li style="display: inline; padding-right: 5px; padding-left: 5px; margin-right: 35px;">&copy; 2015 <a href="/">Hacklaunch</a>, All rights reserved.</li>
            </ul>
        </footer>

    </div>
    <!-- boxed -->
</div>
<!-- sb-site -->

<!-- SLIDEBAR -->

<div class="sb-slidebar sb-right">
    <h2 class="slidebar-header" style="margin-bottom: 0px;">Navigation</h2>
    <ul class="slidebar-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/events/innovate-or-die">Events</a></li>
        <li><a href="{% url 'project_list' %}">Projects</a></li>
        <li><a href="{% url 'haystack_search' %}">Search</a></li>

        {% if not user.is_anonymous %}
            <li><a href="/users/{{ user.userprofile.slug }}">View profile</a></li>
            <li><a href="/users/{{ user.userprofile.slug }}/edit">Edit profile</a></li>
            <li><a href="/logout">Logout</a></li>
        {% endif %}
    </ul>
    <h2 class="slidebar-header">Social Media</h2>
    <div class="slidebar-social-icons">
        <a href="http://www.instagram.com/hacklaunch" class="social-icon-ar instagram"><i class="fa fa-instagram"></i></a>
        <a href="http://plus.google.com/+Hacklaunch" class="social-icon-ar google-plus"><i class="fa fa-google-plus"></i></a>
        <a href="http://www.facebook.com/hacklaunch" class="social-icon-ar facebook"><i class="fa fa-facebook"></i></a>
        <a href="http://www.pinterest.com/hacklaunch" class="social-icon-ar pinterest"><i class="fa fa-pinterest"></i></a>
        <a href="http://www.twitter.com/hacklaunch" class="social-icon-ar twitter"><i class="fa fa-twitter"></i></a>
    </div>
</div>
<!-- sb-slidebar sb-right -->

<!-- TOTOP -->
<div id="back-top">
    <a href="#header"><i class="fa fa-chevron-up"></i></a>
</div>

<!-- Scripts -->
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/jquery.cookie.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/bootstrap-switch.min.js" %}"></script>
<script src="{% static "js/wow.min.js" %}"></script>
<script src="{% static "js/slidebars.js" %}"></script>
<script src="{% static "js/holder.js" %}"></script>
<script src="{% static "js/buttons.js" %}"></script>
<script src="{% static "js/styleswitcher.js" %}"></script>
<script src="{% static "js/jquery.mixitup.min.js" %}"></script>
<script src="{% static "js/chosen.jquery.min.js" %}"></script>

<!-- Syntaxhighlighter -->
<script src="{% static "js/syntaxhighlighter/shCore.js" %}"></script>
<script src="{% static "js/syntaxhighlighter/shBrushXml.js" %}"></script>
<script src="{% static "js/syntaxhighlighter/shBrushJScript.js" %}"></script>

<script src="{% static "js/app.js" %}"></script>
<script src="{% static "js/home.js" %}"></script>
<script src="{% static "js/profile.js" %}"></script>
<script src="{% static "js/password_strength.js" %}"></script>
<script src="{% static "js/zxcvbn.js" %}"></script>
<script src="{% static "js/zxcvbn-async.js" %}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62307687-1', 'auto');
  ga('send', 'pageview');

</script>

<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100839693); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100839693ns.gif" /></p></noscript>

{% block extra_scripts %}
{% endblock %}

</body>

</html>
