{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}HackLaunch - Terms of Use{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Credits</h1>

            <h4>Home splash image</h4>
            <p>Adapted from the original work of
                <a href="https://www.flickr.com/photos/brianglanz/">Briang Lanz</a>
                 and made available under the
                <a href="https://creativecommons.org/licenses/by/2.0/legalcode">Creative commons Attribution 2.0 Generic licence.</a>
                The original creator does not endorse HackLauch and provides no warranties. The original work can be found here:
                <a href="https://www.flickr.com/photos/brianglanz/9106985946">Hacking for a more open Seattle</a>
            </p>

            <h4>Profile slash image</h4>
            <p>Adapted from the original work of
                <a href="https://www.flickr.com/photos/110751683@N02/">Yuri Samoilov</a>
                 and made available under the
                <a href="https://creativecommons.org/licenses/by/2.0/legalcode">Creative commons Attribution 2.0 Generic licence.</a>
                The original creator does not endorse HackLauch and provides no warranties. The original work can be found here:
                <a href="https://www.flickr.com/photos/110751683@N02/13334080323/in/photolist-4tvzbe-7NFTF6-4qquBv-mjhDwB-5VKcCj-8SjwXw-79EVn6-6xfvm9-ccQ6rL-75cgcM-7Gyyds-9UNeUM-fKSF1d-4qvivG-6WxYTc-57hHm6-4U2GPi-nfPx72-59ib1t-bpd8Ht-ptJh3V-KnCK4-4usG5p-GH7wh-9dUbHm-as7QVk-asasy3-6NKzvV-8dpeZZ-buRLHu-8dsw7J-vW8fo-5XzfyW-d9A3SY-azQhjy-Mdf4-apgafX-ec78kF-b7r6g-6fmKyW-3AvBtV-4nqiZn-5RUuNN-kmhEbE-d9A4Eb-7d7ipd-5WvBYq-7tnkmy-aMG5S4-jmr8PB">System Code</a>
            </p>
        </div>
    </div>


{% endblock %}
