{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}HackLaunch - Home{% endblock %}

{% block home-nav %}active{% endblock %}

{% block content %}

    <header id="header-full-plan">
        <div class="wrap-primary-plan">
            <div class="wrap-pointers">
                <div class="container">
                    <div id="primary-plan">
                        <h1 class="animated fadeInDown animation-delay-3">Participate . Build . Showcase</h1>

                        <p class="lead lead-lg animated fadeInDown animation-delay-1">Participate in our events.
                            Build your profile and projects. Showcase your talent and work to the world.</p>
                    </div>

                    {% if user.is_anonymous %}
                        <div class="animated bounceInLeft animation-delay-9" style="margin-bottom: 20px;">
                            <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-8">
                                <h3 style="text-align: center"><b>Sign-in or Sign-up</b></h3>

                                <p style="text-align: center; margin-bottom: 0px; color: #ffffff; font-size: 16px">With a single click</p>

                                <div id="logincontainer" style="background-color: transparent; border-width: 0px;">
                                    <ul style="background-color: transparent; font-size: 25px; margin-top: 0px; margin-bottom: 10px;">
                                        <li><a href="{% url 'social:begin' 'github' %}"
                                               class="animated fadeIn animation-delay-7 git"
                                               style="color: transparent; padding-top: 20px">
                                            <i class="fa fa-github fa-2x" style="color: #2a2a2a;"></i>
                                        </a>
                                        </li>
                                        <li><a href="{% url 'social:begin' 'facebook' %}"
                                               class="animated fadeIn animation-delay-7 facebook"
                                               style="color: transparent; padding-top: 20px">
                                            <i class="fa fa-facebook fa-2x" style="color: #2a2a2a;"></i>
                                        </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'social:begin' 'linkedin-oauth2' %}"
                                               class="animated fadeIn animation-delay-7 linkedin"
                                               style="color: transparent; padding-top: 20px">
                                                <i class="fa fa-linkedin fa-2x"
                                                   style="color: #2a2a2a; padding-top: 20px;"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div id="signin-divider" style="margin-bottom: 10px">
                                    <div class="col-sm-8 division">
                                        <div class="line l"></div>
                                        <span><p
                                                style="text-align: center; margin-bottom: 0px; color: #ffffff; font-size: 16px">
                                            or</p></span>

                                        <div class="line r"></div>
                                    </div>
                                </div>

                                <p style="text-align: center; margin-bottom: 0px; color: #ffffff; font-size: 16px">With a username and password</p>

                                <div class="form-group">
                                    <form id="main-login-form" class="form-inline"
                                          method="post"
                                          lpchecked="1" role="form"
                                          style="margin-top: 10px"
                                          name="email_login"
                                          onsubmit="return validateSignup('main')">
                                        {% csrf_token %}
                                        <div class="input-group login-input" id="main_signup_email_group">
                                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                            {% render_field form.email id="main-email" class="form-control" type="email" name="email" placeholder="email address" %}
                                        </div>

                                        <div class="input-group login-input" id="main_signup_password_group">
                                            <span class="input-group-addon"><i class="fa fa-lock"
                                                                               style="padding-right: 4px"></i></span>
                                            {% render_field form.password id="main-password" class="form-control" type="password" placeholder="password" onkeyup="mainLoginMessage.passwordStrength(this.value)" %}
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-ar btn-primary">Sign in</button>
                                        </div>
                                    </form>
                                </div>

                                <div id="main-login-message" class="row">
                                    {% if form.errors %}
                                        <div id="returned_errors">
                                            {% for error in form.password.errors %}
                                                <p class="text-muted">
                                                    <span id="login-warning" class="label label-danger"> Warning</span>
                                                    <span style="margin-left:5px; color: white">{{ error }}</span>
                                                </p>
                                            {% endfor %}

                                            {% for error in form.email.errors %}
                                                <p class="text-muted">
                                                    <span id="login-warning" class="label label-danger"> Warning</span>
                                                    <span style="margin-left:5px; color: white">{{ error }}</span>
                                                </p>
                                            {% endfor %}

                                            {% if form.non_field_errors %}
                                                <p class="text-muted">
                                                    <span id="login-warning" class="label label-danger"> Warning</span>
                                                    <span style="margin-left:5px; color: white;">{{ form.non_field_errors | striptags }}</span>
                                                </p>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>

                                <div>
                                    <a href="/password_reset"
                                       style="font-family: 'Open Sans', sans-serif; font-size: 14px; border-width: 0px; margin: 9px; color: #82E01B">Forgotten your password?</a>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                </div>

                <div class="row animated bounceInRight animation-delay-9" onclick="location.href='/events/innovate-or-die/';" style="cursor:pointer;">
                    <div class="col-md-8 col-md-offset-2" style="background-color: rgba(0,0,0,0.5); margin-bottom: 30px; ">
                        <div>
                            <h1 style="text-align: center; margin-top: 30px;"><strong><span style="color: white">Innovate or Die?</span> Driving innovation in business</strong></h1>
                            <p style="margin: 0px; font-size: 18px; color: white; text-align: center;">A <span style="color: #83E11C">seminar</span> and
                                <span style="color: #83E11C">networking</span> event
                                <strong style="font-size: 23px;"> - May 8, 2015  |  6pm</strong></p>
                        </div>

                        <div style="margin: 20px; margin-bottom: 30px; text-align: center;">

                            <div style="display: inline-block; background-color: white; color: black; text-align: center;
                                    margin-right: 20px; border-style: solid; border-width: 1px; border-color: black;">
                                <img src="{% static "images/events/damien-cummings.jpg" %}" alt="Damien Cummings" style="width: 222px; height: 222px; ">
                                <p style="margin: 0px; font-size: 12px;">Damien Cummings</p>
                                <p style="margin: 0px; font-size: 12px;">Philips - CMO ASEAN & Pacific</p>
                            </div>

                            <div style="display: inline-block; background-color: white; color: black; text-align: center;
                                    margin: 0px; border-style: solid; border-width: 1px; border-color: black; margin-right: 20px;">
                                <img src="{% static "images/events/julien-de-salaberry.jpg" %}" alt="Julien de Salaberry" style="width: 222px; height: 222px; padding: 5px">
                                <p style="margin: 0px; font-size: 12px;">Julien de Salaberry</p>
                                <p style="margin: 0px; font-size: 12px;">Founder & CIO – The Propell Group</p>
                            </div>

                            <div style="display: inline-block; background-color: white; color: black; text-align: center;
                                    margin-right: 20px; border-style: solid; border-width: 1px; border-color: black;">
                                <img src="{% static "images/events/jaime-ng.jpg" %}" alt="Jaime Ng" style="width: 222px; height: 222px; padding: 6px;">
                                <p style="margin: 0px; font-size: 12px;">Jaime Ng</p>
                                <p style="margin: 0px; font-size: 12px;">Hacklaunch - Founder</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {# new members slider #}
    <section class="wrap-dark-color margin-bottom">
        <div class="container">
            <div class="row">
                <div class="container">
                    <section class="margin-bottom">
                        <div class="row">
                            <h2 class="right-line" style="color: white; margin-top: 40px;">New members </h2>

                           <ul class="bx-horizontal" style="padding: 0px;">
                                {% for user in new_users %}
                                    <li style="padding-right: 0px; margin-bottom: 0px; margin-right: 0px; background-color: transparent;">
                                        <div style="background-color: rgba(131, 225, 28, 1); cursor:pointer; height: 140px;"
                                             onclick="location.href='/profile/{{ user.userprofile.slug }}'";>
                                            <div class="row" style="margin: 0px;">
                                                <div class="col-md-4 vertical-center white-border-right" style=" height: 140px;">
                                                        <img class="img-responsive img-circle card-head center-block text-center white-border"
                                                             style="border-width: 3px;"
                                                             {% if user.userprofile.thumbnail %}
                                                                src="{{ user.userprofile.thumbnail.url }}" alt="{{ user.get_full_name }}"
                                                             {% else %}
                                                                src="//placehold.it/70" class="avatar img-circle" alt="avatar"
                                                             {% endif %} >
                                                </div>
                                                <div class="col-md-8 text-center vertical-center" style="height: 140px; margin-bottom: 0px;">
                                                    <div style="width: 100%">
                                                        <h4 style="color: white; margin-bottom: 10px; margin-top: 15px">
                                                            <strong> @{{ user.username }}</strong>
                                                        </h4>

                                                        <ul style="padding-left: 0px;">
                                                            {% for maker_type in user.userprofile.maker_type.all %}
                                                                {% if maker_type.name != 'Other' %}
                                                                    <li style="display: inline-block; padding-left: 3px; padding-right: 3px; margin-right: 5px; color: white;   ">
                                                                        <strong>{{ maker_type.name }}</strong>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>

    {# Marketing material #}
    <div class="container">
        <section class="margin-bottom-small">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="right-line" style="margin-top: 10px;">What do we do?</h2>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-cubes"></i></span>

                        <div class="text-icon-content">
                            <h3 class="no-margin">Community Building</h3>

                            <p>Community Building Connect with a community of like minded innovators from developers,
                                designers to makers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-lightbulb-o"></i></span>

                        <div class="text-icon-content">
                            <h3 class="no-margin">Open Innovation</h3>

                            <p>Ideate and build your projects. Do it with friends or build your own.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-dashboard"></i></span>

                        <div class="text-icon-content">
                            <h3 class="no-margin">Growth Acceleration</h3>

                            <p>Partner with us to accelerate your growth post event and outside of the community.</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <h2 class="right-line" style="margin-top: 8px;">Corporate Partnership</h2>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-bank"></i></span>

                        <div class="text-icon-content">
                            <h3 class="no-margin">Ignite your corporate innovation DNA</h3>

                            <p style="margin-top: 8px;">Partner with HackLaunch to drive hackathons, innovation lab and
                                the community.
                                        <span>
                                            <script language="JavaScript">
                                                var username = "contact";
                                                var hostname = "hacklaunch";
                                                var linktext = username + "@" + hostname + ".com";
                                                document.write("<a + class='btn btn-ar btn-lg btn-primary' + style='margin-left: 10px' + href='" + "mail" + "to:" + username + "@" + hostname + ".com" + "'>" + "Contact us" + "</a>");
                                            </script>
                                        </span></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
        </section>

    </div>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/carousels.js" %}"></script>
{% endblock %}

