{% extends "base.html" %}
{% load staticfiles %}
{% block title %}HackLaunch - Home{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="text-center text-capitalize" style="font-family: lato, helvetica, sans-serif; color: #353535; text-shadow: 0 1px 0 #fff;">WE RUN HACKATHONS</h1>
        <h4 class="text-center secondary-title-text">At HackLaunch, we make a science out of running hackathons.</h4>
        <br>
    </div>

    <div class="container" style="background-color: #777777;">
        <br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color: #e5e5e5; ">
                <h2 class="text-center">Log-in or Sign-up</h2>
            </div>
        </div>
        <div class="row">
            <div class="row-same-height">
                <div class="col-xs-12 col-md-2 col-sm-height"></div>

                <div class="col-xs-12 col-md-4 col-sm-height" style="background-color: #e5e5e5">
                    <h4 class="text-center">With one click</h4>
                    <a class="btn btn-block btn-social btn-github"> <i class="fa fa-github"></i> GitHub </a>
                    <a class="btn btn-block btn-social btn-linkedin" href="{% url 'social:begin' "linkedin-oauth2" %}"> <i class="fa fa-linkedin"></i> LinkedIn </a>

                </div><!-- social signin -->

                <div class="col-xs-12 col-md-4 col-sm-height"
                     style="background-color: #e5e5e5; border-left: solid #eeeeee; border-width: 1px;">
                    <h4 class="text-center">With your email and a password</h4>

                    <form action="{% url 'social:complete' "email" %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                            <input id="email" type="email" class="form-control" name="email" placeholder="email address">
                        </div>

                        <span class="help-block"></span>

                        <div class="input-group">
                            <span class="input-group-addon" ><i class="fa fa-lock" style="padding-right: 4px"></i></span>
                            <input id="password" type="password" name="password" class="form-control" placeholder="Password">
                        </div>

                        <span class="help-block"></span>

                        <button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>
                    </form>

                    <span class="help-block"></span>

                    <div>
                        <p class="text-center">
                            <a href="#">Forgotten your password?</a>
                        </p>
                    </div>
                </div><!-- email login -->

                <div class="col-xs-12 col-md-2 col-sm-height"></div>
            </div>
        </div>
        <br>
    </div>

    <br>

    <div class="container marketing">

{#        <div class="row">#}
{##}
{#            <div class="col-lg-2"></div>#}
{#            <div class="col-lg-1"></div>#}
{#            <div class="col-lg-6" style="height: 2px; background-color: black; text-align: center">#}
{#                <span style="background-color: white; position: relative; top: -0.5em; padding 10px;">#}
{#                    <p>WE RUN HACKATHONS<p>#}
{#                </span>#}
{#            </div>#}
{#            <div class="col-lg-1"></div>#}
{#            <div class="col-lg-2"></div>#}
{#        </div>#}

        <div class="row">
            <div class="col-lg-3">
                <img class="img-rounded" src="{% static "images/community.png" %}" alt="Community image"
                     style="width: 100px; height: 100px; ">

                <h2>Community Building</h2>

                <p>Want to find like-minded developers? HackLaunch hackathons provide a community of like-minded
                    developers to continue with their ideation and build.</p>
            </div>
            <!-- /.col-lg-3 -->
            <div class="col-lg-3">
                <img class="img-rounded" src="{% static "images/idea.png" %}" alt="GIdeation & Build image"
                     style="width: 100px; height: 100px;">

                <h2>Ideation & Build</h2>

                <p>Always had a winning idea but never the chance to realize it? HackLaunch hackathons will be your
                    first steps to ideation and creation.</p>
            </div>
            <!-- /.col-lg-3 -->
            <div class="col-lg-3">
                <img class="img-rounded" src="{% static "images/shake.png" %}" alt="Corporate Partnership image"
                     style="width: 100px; height: 100px;">

                <h2>Corporate Partnerships</h2>

                <p>HackLaunch works with some of the top companies to run our hackathons. Together with our partners, we
                    bring a world of possibility to the developers.</p>
            </div>
            <!-- /.col-lg-3 -->
            <div class="col-lg-3">
                <img class="img-rounded" src="{% static "images/growth.png" %}" alt="Growth Acceleration image"
                     style="width: 100px; height: 100px; ">

                <h2>Growth Acceleration</h2>

                <p>HackLaunch don't just stop at the end of the hackathons, we continue to work with the participants on
                    their continued growth after event and our corporate partners on the post event update.</p>
            </div>
            <!-- /.col-lg-3 -->
        </div>
        <!-- /.row -->

        <hr class="content-divider">

        <h1 class="text-center">Connect with us</h1>

        <div class="text-center">
            <a class="btn btn-social-icon btn-lg social-button-gray" href="http://www.twitter.com/hacklaunch" target="_blank">
                <i class="fa fa-twitter fa-4x" style="color: black;"></i>
            </a>
            <a class="btn btn-social-icon btn-lg social-button-gray" href="http://www.facebook.com/hacklaunch" target="_blank">
                <i class="fa fa-facebook fa-4x" style="color: black;"></i>
            </a>
            <a class="btn btn-social-icon btn-lg social-button-gray" href="http://plus.google.com/+Hacklaunch" target="_blank">
                <i class="fa fa-google-plus fa-4x" style="color: black;"></i>
            </a>
            <a class="btn btn-social-icon btn-lg social-button-gray" href="http://www.instagram.com/hacklaunch" target="_blank">
                <i class="fa fa-instagram fa-4x" style="color: black;"></i>
            </a>
            <a class="btn btn-social-icon btn-lg social-button-gray" href="http://www.pinterest.com/hacklaunch" target="_blank">
                <i class="fa fa-pinterest fa-4x" style="color: black;"></i>
            </a>
        </div>
    </div><!-- /.container marketing -->

{% endblock %}
