{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}HackLaunch - Home{% endblock %}

{% block content %}

    <header id="header-full-plan">
        <div class="wrap-primary-plan">
            <div class="wrap-pointers">
                <div class="container">
                    <div id="primary-plan">
                        <h1 class="animated fadeInDown animation-delay-3">Elegance and simplicity are our
                            principles</h1>

                        <p class="lead lead-lg animated fadeInDown animation-delay-1">Lorem ipsum dolor sit amet
                            consectetur adipisicing elit. Odit a ullam sequi nobis minima earum accusantium perspiciatis
                            placeat, reiciendis distinctio.</p>
                    </div>

                    <div class="animated bounceInLeft animation-delay-9">
                        <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-8">
                            <h4 style="text-align: center"><b>Sign-in or Sign-up</b></h4>

                            <p style="text-align: center; margin-bottom: 0px; color: #ffffff; font-size: 16px">With a single click</p>

                            <div id="logincontainer" style="background-color: transparent; border-width: 0px;">
                                <ul style="background-color: transparent; font-size: 25px; margin-top: 0px; margin-bottom: 10px;">
                                    <li><a href="{% url 'social:begin' 'bitbucket' %}"
                                           class="animated fadeIn animation-delay-7 bitbucket" style="color: transparent; padding-top: 20px">
                                            <i class="fa fa-bitbucket fa-2x" style="color: #2a2a2a; padding-top: 20px;"></i>
                                        </a>
                                    </li>
                                    <li><a href="{% url 'social:begin' 'github' %}"
                                           class="animated fadeIn animation-delay-7 git" style="color: transparent; padding-top: 20px">
                                            <i class="fa fa-github fa-2x" style="color: #2a2a2a;"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'social:begin' 'linkedin-oauth2' %}"
                                           class="animated fadeIn animation-delay-7 linkedin" style="color: transparent; padding-top: 20px">
                                            <i class="fa fa-linkedin fa-2x" style="color: #2a2a2a; padding-top: 20px;"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div id="signin-divider" style="margin-bottom: 10px">
                                <div class="col-sm-8 division">
                                    <div class="line l"></div>
                                    <span><p
                                            style="text-align: center; margin-bottom: 0px; color: #ffffff; font-size: 16px">
                                        or </p></span>

                                    <div class="line r"></div>
                                </div>
                            </div>

                            <p style="text-align: center; margin-bottom: 0px; color: #ffffff; font-size: 16px">With a username and password</p>

                            <div class="form-group">
                                <form id="main-login-form" class="form-inline" action="{% url 'social:complete' "email" %}" method="post"
                                      lpchecked="1" role="form"
                                      style="margin-top: 10px" name="email_login" onsubmit="return validateSignup('main')">
                                    {% csrf_token %}
                                    <div class="input-group login-input" id="main_signup_email_group">
                                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                        {% render_field form.email id="main-email" class="form-control" type="email" name="email" placeholder="email address" %}
                                    </div>

                                    <div class="input-group login-input" id="main_signup_password_group">
                                        <span class="input-group-addon"><i class="fa fa-lock"
                                                                           style="padding-right: 4px"></i></span>
                                        {% render_field form.password id="main-password" class="form-control" type="password" placeholder="password" onkeyup="mainLoginMessage.passwordStrength(this.value)" %}
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-ar btn-primary">Sign in</button>
                                    </div>
                                </form>
                            </div>

                            <div id="main-login-message" class="row"></div>

                            <div>
                                <a href="/password_reset"
                                   style="font-family: 'Open Sans', sans-serif; font-size: 14px; border-width: 0px; margin: 9px; color: #82E01B">Forgotten
                                    your password?</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-5">
                                <span class="icon-ar icon-ar-lg icon-ar-white icon-ar-circle"><i
                                        class="fa fa-cubes"></i></span>
                                <h5 class="content-box-title">COMMUNITY BUILDING</h5>

                                <p>Want to find like-minded developers? HackLaunch hackathons provide a community of
                                    like-minded developers to continue with their ideation and build.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-8">
                                <span class="icon-ar icon-ar-lg icon-ar-white icon-ar-circle"><i
                                        class="fa fa-lightbulb-o"></i></span>
                                <h5 class="content-box-title">IDEATION &amp; BUILD</h5>

                                <p>Always had a winning idea but never the chance to realize it? HackLaunch hackathons
                                    will be your first steps to ideation and creation.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-8">
                                <span class="icon-ar icon-ar-lg icon-ar-white icon-ar-circle"><i
                                        class="fa fa-briefcase"></i></span>
                                <h5 class="content-box-title">CORPORATE PARTNERSHIPS</h5>

                                <p>HackLaunch works with some of the top companies to run our hackathons. Together with
                                    our partners, we bring a world of possibility to the developers.</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-5">
                                <span class="icon-ar icon-ar-lg icon-ar-white icon-ar-circle"><i
                                        class="fa fa-dashboard"></i></span>
                                <h5 class="content-box-title">GROWTH ACCELERATION</h5>

                                <p>HackLaunch don't just stop at the end of the hackathons, we continue to work with the
                                    participants on their continued growth after event and our corporate partners on the
                                    post event update.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="wrap-dark-color margin-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-7 feature-container">
                    <a class="feature-icon">
                        <i class="fa fa-desktop"></i>
                        <h4>Retina</h4>
                    </a>
                    <a class="feature-icon">
                        <i class="fa fa-download"></i>
                        <h4>Downloads</h4>
                    </a>
                    <a class="feature-icon">
                        <i class="fa fa-cloud"></i>
                        <h4>Cloud</h4>
                    </a>
                    <a class="feature-icon">
                        <i class="fa fa-html5"></i>
                        <h4>HTML 5</h4>
                    </a>
                </div>
                <div class="col-md-5 hidden-sm hidden-xs">
                    <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit lorem ipsum
                        dolor sit amet.</p>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <section class="margin-bottom">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="right-line">What do we do?</h2>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-cloud"></i></span>

                        <div class="text-icon-content">
                            <h3 class="no-margin">Cloud Computing</h3>

                            <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in
                                similique, necessitatibus odit vero sunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-desktop"></i></span>

                        <div class="text-icon-content">
                            <h3 class="no-margin">Web Design and SEO</h3>

                            <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in
                                similique, necessitatibus odit vero sunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-tablet"></i></span>

                        <div class="text-icon-content">
                            <h3 class="no-margin">Mobile and Tablet Apps</h3>

                            <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in
                                similique, necessitatibus odit vero sunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-wordpress"></i></span>

                        <div class="text-icon-content">
                            <h3 class="no-margin">Wordpress Themes</h3>

                            <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in
                                similique, necessitatibus odit vero sunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-graduation-cap"></i></span>

                        <div class="text-icon-content">
                            <h3 class="no-margin">Training and development</h3>

                            <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in
                                similique, necessitatibus odit vero sunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="text-icon wow fadeInUp">
                        <span class="icon-ar icon-ar-lg"><i class="fa fa-paper-plane-o"></i></span>

                        <div class="text-icon-content">
                            <h3 class="no-margin">Customer service</h3>

                            <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in
                                similique, necessitatibus odit vero sunt.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
        </section>

    </div>



{% endblock %}
