{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}HackLaunch - Terms of Use{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Terms of Use</h1>

            <p>
                These terms govern your use of the HackLaunch web sites or services (“Services”) referencing these
                Terms. By
                using the Services, you agree to these terms.

            <p>

            <h4>1. Your Agreement With HackLaunch.</h4>

            <p>

                1.1 Choice of Law. Your relationship is with HackLaunch, a Singapore company, and you agree to be bound
                by the laws
                of Singapore.
            </p>
            <p>
                1.2 You agree that HackLaunch can use the data you provide to us in accordance with our Privacy Policy.

            </p>

            <h4>2. Your Content.</h4>

            <p>

                2.1 Ownership: You retain all rights and ownership in your content. HackLaunch does not claim any
                ownership rights
                in your content.
            </p>
            <p>
                2.2 License to Your Content. Even though we don’t claim ownership of your content, we do need certain
                licenses to
                your content in order to operate and enable the Services. When you upload or submit content to our
                Services, you
                grant HackLaunch (and our parents and affiliates) a worldwide license to communicate, distribute, host,
                make
                modifications or derivative works (solely for the purpose of better showcase your work), publicly
                display, publicly
                perform, publish, reproduce, store, and use such content. The license granted by you is for the only
                purpose of
                operating, marketing, promoting, and improving our Services. We will attribute to you in all such
                circumstances.
            </p>
            <p>
                2.3 Accessing and Sharing Your Content. By submitting your content to our Services, you also give other
                HackLaunch
                users the right to share your content via various social medial platforms integrated with HackLaunch. We
                may offer
                you ways to access and remove your content. Our Service may also provide ways for you to limit the scope
                of use and
                access and other user’s access and use of your content. You are responsible for determining the
                limitations that are
                placed on your content and for applying the appropriate level of access to your content. We do not
                monitor or
                control what others do with your content. It’s your responsibility to let other users know how your
                content may be
                shared and adjust the setting related to accessing and sharing your content accordingly.
            </p>
            <p>
                2.4 Termination of License. You may terminate this license at any time by removing your content from the
                Services.
                However, you agree that HackLaunch may retain and use copies of your content for archival or backup
                purposes and for
                the investigation purpose mentioned later.
            </p>
            <p>
                2.5 Feedback: You have no obligation to provide HackLaunch with ideas, suggestions or proposals
                (“Feedback”). If you
                submit Feedback to HackLaunch, we may use it for any purpose without compensation to you and have no
                obligation to
                keep your Feedback confidential.

            </p>

            <h4>3. Who Can Use Our Services?</h4>

            <p>

                3.1 Service Eligibility: You can only use our Services if you are over 13 years old, it is legal for you
                to use our
                Services, and you are legally capable of entering into a binding contract.
            </p>
            <p>
                3.2 International Users: Pages describing the Services are accessible from around the world but this
                does not mean
                all Services or service features are available in your country, or that user-generated content available
                via the
                Services is legal in your country. HackLaunch may block access to certain Services (or certain service
                features or
                content) in certain countries. It is your responsibility to make sure your use of the Services is legal
                in the
                country where you live. Services are not available in all languages.

            </p>

            <h4>4. Account Information.</h4>

            <p>

                You may need to create an account with us in order to use our Services. It is your responsibility to
                keep your
                log-in credentials secure and you are responsible to HackLaunch for all activities that occur via your
                account.
                Unless HackLaunch expressly allows you the right to create and manage account information as an account
                administrator for a company or as part of a team account, you may not use another person’s Account
                Information.
            </p>
        </div>
    </div>


{% endblock %}
