{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}HackLaunch - Login{% endblock %}

{% block content %}

    <header id="header-full-plan">
        <div class="wrap-primary-plan2" style="height: 390px;">
            <div class="wrap-pointers">
                <div class="container">

                    {% if user.is_anonymous %}
                        <div class="animated bounceInLeft animation-delay-9" style="margin-bottom: 20px; margin-top: 20px">
                            <div class="content-box box-primary content-box-trans animated fadeInUp animation-delay-8">
                                <h3 style="text-align: center"><b>Sign-in or Sign-up</b></h3>

                                <p style="text-align: center; margin-bottom: 0px; color: #ffffff; font-size: 16px">With a single click</p>

                                <div id="logincontainer" style="background-color: transparent; border-width: 0px;">
                                    <ul style="background-color: transparent; font-size: 25px; margin-top: 0px; margin-bottom: 10px;">
                                        <li><a href="{% url 'social:begin' 'github' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
                                               class="animated fadeIn animation-delay-7 git"
                                               style="color: transparent; padding-top: 20px">
                                            <i class="fa fa-github fa-2x" style="color: #2a2a2a;"></i>
                                        </a>
                                        </li>
                                        <li><a href="{% url 'social:begin' 'facebook' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
                                               class="animated fadeIn animation-delay-7 facebook"
                                               style="color: transparent; padding-top: 20px">
                                            <i class="fa fa-facebook fa-2x" style="color: #2a2a2a;"></i>
                                        </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'social:begin' 'linkedin-oauth2' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
                                               class="animated fadeIn animation-delay-7 linkedin"
                                               style="color: transparent; padding-top: 20px">
                                                <i class="fa fa-linkedin fa-2x"
                                                   style="color: #2a2a2a; padding-top: 20px;"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div id="signin-divider" style="margin-bottom: 10px">
                                    <div class="col-sm-8 division">
                                        <div class="line l"></div>
                                        <span><p
                                                style="text-align: center; margin-bottom: 0px; color: #ffffff; font-size: 16px">
                                            or</p></span>

                                        <div class="line r"></div>
                                    </div>
                                </div>

                                <p style="text-align: center; margin-bottom: 0px; color: #ffffff; font-size: 16px">With a username and password</p>

                                <div class="form-group">
                                    <form id="main-login-form" class="form-inline"
                                          method="post"
                                          lpchecked="1" role="form"
                                          style="margin-top: 10px"
                                          name="email_login"
                                          onsubmit="return validateSignup('main')">
                                        {% csrf_token %}
                                        <div class="input-group login-input" id="main_signup_email_group">
                                            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                            {% render_field form.email id="main-email" class="form-control" type="email" name="email" placeholder="email address" %}
                                        </div>

                                        <div class="input-group login-input" id="main_signup_password_group">
                                            <span class="input-group-addon"><i class="fa fa-lock"
                                                                               style="padding-right: 4px"></i></span>
                                            {% render_field form.password id="main-password" class="form-control" type="password" placeholder="password" onkeyup="mainLoginMessage.passwordStrength(this.value)" %}
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="btn btn-ar btn-primary">Sign in</button>
                                        </div>
                                    </form>
                                </div>

                                <div id="main-login-message" class="row">
                                    {% if form.errors %}
                                        <div id="returned_errors">
                                            {% for error in form.password.errors %}
                                                <p class="text-muted">
                                                    <span id="login-warning" class="label label-danger"> Warning</span>
                                                    <span style="margin-left:5px; color: white">{{ error }}</span>
                                                </p>
                                            {% endfor %}

                                            {% for error in form.email.errors %}
                                                <p class="text-muted">
                                                    <span id="login-warning" class="label label-danger"> Warning</span>
                                                    <span style="margin-left:5px; color: white">{{ error }}</span>
                                                </p>
                                            {% endfor %}

                                            {% if form.non_field_errors %}
                                                <p class="text-muted">
                                                    <span id="login-warning" class="label label-danger"> Warning</span>
                                                    <span style="margin-left:5px; color: white;">{{ form.non_field_errors | striptags }}</span>
                                                </p>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>

                                <div>
                                    <a href="/password_reset"
                                       style="font-family: 'Open Sans', sans-serif; font-size: 14px; border-width: 0px; margin: 9px; color: #82E01B">Forgotten your password?</a>
                                </div>
                            </div>
                        </div>

                    {% endif %}

                </div>
            </div>
        </div>
    </header>

{% endblock %}

