{% extends "message.html" %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
    HackLaunch - New password
{% endblock %}

{% block form_title %}
    Please enter your new password
{% endblock %}

{% block body %}
    {% if validlink %}
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form action="" method="post" onsubmit="return resetPasswordValidation.validate('id_new_password1', 'id_new_password2')">
        {% csrf_token %}

        <div class="form-group">
            <label class="control-label message-label">Password:</label>

            {% if form.errors.new_password1 %}
                <div id='password-input' class="col-lg-6 has-error has-feedback">
                    {% render_field form.password name='password' value=form.password.value id="password_confirmation" type="password" class="form-control" onkeyup="resetPasswordMessage.passwordStrength(this.value)" %}
                                <span id='password-icon' class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
                <div id="password-errors" class="col-lg-3"
                     style="padding-top: 7px; padding-left: 5px;">
                    {% for error in form.errors.password %}
                        <p class="text-muted">
                            <span style="color: red">{{ error }}</span>
                        </p>
                    {% endfor %}
                </div>
            {% else %}
                <div style="display: inline-block; width: 70%">
                    {% render_field form.new_password1 type="password" class="form-control" onkeyup="resetPasswordMessage.passwordStrength(this.value)" %}
                    <span id='password-icon' class="glyphicon glyphicon-remove form-control-feedback hidden"></span>
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label class="control-label message-label">Confirm:  </label>

            {% if form.errors.new_password2 %}
                <div id='password-confirmation' class="col-lg-6 has-error has-feedback">
                    {% render_field form.new_password2 name='password-confirmation' value=form.password_confirmation.value type="password" class="form-control" onkeyup="resetPasswordMessage.passwordStrength(this.value)" %}
                                <span id='password-confirmation-icon'
                                      class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
                <div id="password_confirmation-errors" class="col-lg-3"
                     style="padding-top: 7px; padding-left: 5px;">
                    {% for error in form.errors.password_confirmation %}
                        <p class="text-muted">
                            <span style="color: red">{{ error }}</span>
                        </p>
                    {% endfor %}
                </div>
            {% else %}
                <div style="display: inline-block; width: 70%">
                    {% render_field form.new_password2 type="password" class="form-control" onkeyup="resetPasswordMessage.matchPasswords(this.value)" %}
                    <span id='password-confirmation-icon' class="glyphicon glyphicon-remove form-control-feedback hidden"></span>
                </div>
            {% endif %}
        </div>

         <div id="reset-login-message"></div>
    {% else %}
        <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
    {% endif %}
{% endblock %}

{% block footer %}
    {% if validlink %}
            <div class="row">
                <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}"
                       style="background-color: #8ADE24; border-width: 0px; margin-right: 10px;"/>

                {%  if form.non_field_errors %}
                    {% for error in form.non_field_errors %}#}
                        {% if error ==  'Passwords do not match' %}
                            <p class="text-muted">
                                <span style="color: red">{{ error }}</span>
                            </p>
                        {% endif %}
                    {% endfor %}
                {%  endif %}
            </div>
        </form>
    {% endif %}
{% endblock %}


{% block extra_scripts %}
    <script src="{% static "js/validation/reset_password.js" %}"></script>
{% endblock %}
