{% extends "message.html" %}
{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}
    HackLaunch - Password reset
{% endblock %}

{% block form_title %}
    Forgotten your password?
{% endblock %}

{% block body %}
    <p>{% trans "Enter your email address below, and we'll email instructions for setting a new one." %}</p>

    <form action="" method="post" id="resetForm" role="form" onsubmit="return emailFeedBack('resetForm', 'message-container')">
    {% csrf_token %}

    <div class="form-group" style="width: 100%; margin: 0 auto;">
        <div style="display: inline-block ">
            <label class="control-label message-label">Email address:</label>
        </div>
        <div style="display: inline-block; width: 70%">
            {% render_field form.email class="form-control" type="type" id="email" name="email" maxlength=""; style="width: 70%"; %}
        </div>
    </div>

    <div id="message-container" class="hidden"></div>

    {% if form.email.errors %}
        <div id="form-errors">
            <p class="text-muted"  style="margin-top: 7px; margin-bottom: 0px;">
                <span id="login-warning" class="label label-danger"> Warning</span>
                <span>{{ form.email.errors | striptags }}</span>
            </p>
        </div>
    {% endif %}
{% endblock %}

{% block footer %}
    <input class="btn btn-primary" value="Submit" type="submit" style="background-color: #8ADE24; border-width: 0px;">

    </form>
{% endblock %}


{% block extra_scripts %}
    <script src="{% static "js/validation/email.js" %}"></script>
{% endblock %}
