{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}HackLaunch - Edit Project{% endblock %}

{% block events-nav %}active{% endblock %}

{% block extra_css %}
    <link href="{% static "css/bootstrap-tagsinput.css" %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static "froala_editor/css/font-awesome.min.css" %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static "froala_editor/css/froala_editor.min.css" %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static "froala_editor/css/froala_style.min.css" %}" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="{% static "js/jquery.min.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container">

        <form id="crators-form" action="." method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12" style="padding-top: 25px;">
                    <div class="title animated fadeInDown animation-delay-5" style="padding: 10px; margin: 0px;">
                        <img class='logo' src="{% static "images/add-a-logo.png" %}" alt="Logo" width="200" style="padding-bottom: 15px;"/>
                        {% render_field form.title style="margin-bottom: 0px;" %}
                    </div>
                    <p class="slogan text-center no-margin-bottom">
                        {{ project_form.tag_line }}
                    </p>
                </div>

                <div class="col-md-12 center">
                    <div class="small-margin-bottom fadeInDown animation-delay-3"
                         style="margin-top: 20px;">
                        {% if form.facebook.url %}
                            <a id='link-facebook' href="{{ project_form.facebook.url }}" class="social-icon-ar facebook"
                               onclick="editSocialURL('facebook', this.val())"><i
                                    class="fa fa-facebook"></i></a>
                        {% else %}
                            <a id='link-facebook' href="#" class="social-icon-ar grey"
                               onclick="editSocialURL('facebook', 'http://www.facebook.com/')"><i
                                    class="fa fa-facebook"></i></a>
                        {% endif %}

                        {% if form.google_plus.url %}
                            <a id='link-google-plus' href="{{ project_form.google_plus.url }}" class="social-icon-ar google-plus"
                               onclick="editSocialURL('google-plus', this.val())"><i
                                    class="fa fa-google-plus"></i></a>
                        {% else %}
                            <a id='link-google-plus' href="#" class="social-icon-ar grey"
                               onclick="editSocialURL('google-plus', 'http://plus.google.com/')"><i
                                    class="fa fa-google-plus"></i></a>
                        {% endif %}

                        {% if form.instagram.url %}
                            <a id='link-instagram' href="{{ project_form.instagram.url }}" class="social-icon-ar instagram"
                               onclick="editSocialURL('instagram', this.val())"><i
                                    class="fa fa-instagram"></i></a>
                        {% else %}
                            <a id='link-instagram' href="#" class="social-icon-ar grey"
                               onclick="editSocialURL('instagram', 'http://www.instagram.com/')"><i
                                    class="fa fa-instagram"></i></a>
                        {% endif %}

                        {% if form.pinterest.url %}
                            <a id='link-pinterest' href="{{ project_form.pinterest.url }}" class="social-icon-ar pinterest"
                               onclick="editSocialURL('pinterest', this.val())"><i
                                    class="fa fa-pinterest"></i></a>
                        {% else %}
                            <a id='link-pinterest' href="#" class="social-icon-ar grey"
                               onclick="editSocialURL('pinterest', 'http://www.pinterest.com/')"><i
                                    class="fa fa-pinterest"></i></a>
                        {% endif %}

                        {% if form.twitter.url %}
                            <a id='link-twitter' href="{{ project_form.twitter.url }}" class="social-icon-ar twitter"
                               onclick="editSocialURL('twitter', this.val())"><i
                                    class="fa fa-twitter"></i></a>
                        {% else %}
                            <a id='link-twitter' href="#" class="social-icon-ar grey"
                               onclick="editSocialURL('twitter', 'http://www.twitter.com/')"><i
                                    class="fa fa-twitter"></i></a>
                        {% endif %}
                    </div>

                    <div id='div-facebook' class="row hidden">
                        <div class="col-centered">
                            <div class="input-group" style="margin: 5px; text-align: center;">
                                {% render_field form.facebook class="form-control" name='facebook' style="width: 250px" %}
                                <button id="update-facebook" type="button" class="btn btn-ar btn-default"
                                        style="height: 35px; margin-left: 5px;" onclick="updateSocialURL('facebook')">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="div-instagram" class="row hidden">
                        <div class="col-centered">
                            <div class="input-group" style="margin: 5px; text-align: center;">
                                {% render_field form.instagram class="form-control" name='instagram' style="width: 250px" %}
                                <button id="update-instagram" type="button" class="btn btn-ar btn-default"
                                        style="height: 35px; margin-left: 5px;" onclick="updateSocialURL('instagram')">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="div-google-plus" class="row hidden">
                        <div class="col-centered">
                            <div class="input-group" style="margin: 5px; text-align: center;">
                                {% render_field form.google_plus class=" form-control" name='google-plus' id="id_google-plus" style="width: 250px" %}
                                <button id="update-google-plus" type="button" class="btn btn-ar btn-default"
                                        style="height: 35px; margin-left: 5px;" onclick="updateSocialURL('google-plus')">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="div-pinterest" class="row hidden">
                        <div class="col-centered">
                            <div class="input-group" style="margin: 5px; text-align: center;">
                                {% render_field form.pinterest class="form-control" name='pinterest' style="width: 250px" %}
                                <button id="update-pinterest" type="button" class="btn btn-ar btn-default"
                                        style="height: 35px; margin-left: 5px;" onclick="updateSocialURL('pinterest')">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="div-twitter" class="row hidden">
                        <div class="col-centered">
                            <div class="input-group" style="margin: 5px; text-align: center;">
                                {% render_field form.twitter class="form-control" name='twitter' style="width: 250px" %}
                                <button id="update-twitter" type="button" class="btn btn-ar btn-default"
                                        style="height: 35px; margin-left: 5px;" onclick="updateSocialURL('twitter')">
                                    Update
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="social-link-error" class="hidden center">
                        <p class="hidden red" id="social-link-error-facebook">Please enter a valid Facebook link</p>
                        <p class="hidden red" id="social-link-error-google-plus">Please enter a valid Google Plus link</p>
                        <p class="hidden red" id="social-link-error-instagram">Please enter a valid Instagram link</p>
                        <p class="hidden red" id="social-link-error-pinterest">Please enter a valid Pinterest link</p>
                        <p class="hidden red" id="social-link-error-twitter">Please enter a valid Twitter link</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9 ">
                    <h2 class="section-title no-margin-top no-margin-bottom">
                        Project Pitch
                    </h2>

                    {{ project_form.pitch }}

                    <h2 class="section-title">Time Line</h2>
                    <ul class="timeline-2">
                        {{ project_post_set.management_form }}
                        {% for post_form in project_post_set.forms %}
                            <li class="animated fadeInRight animation-delay-2">
                                <time class="timeline-time" datetime="">{{ date }} <span>{{ month }}</span></time>
                                <i class="timeline-2-point"></i>

                                <div class="panel panel-default">
                                    <div class="panel-heading" style="color: white;">
                                        {{  post_form.title }}
                                    </div>
                                    {% render_field post_form.post %}

                                    {% render_field post_form.author %}
                                    {% render_field p %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="content-box box-primary animated fadeInDown animation-delay-14">
                        <h4 class="content-box-title" style="margin-top: 0px; padding: 0px;"><strong>Creators</strong></h4>

                        <div id="creators" class="media">

                            {% for creator in project_creators %}
                                <div id="creator-{{ creator.user.username }}">
                                    <a class="pull-left" href="#">
                                        {% if user.userprofile.thumbnail %}
                                            <img src="{{ creator.user.userprofile.thumbnail.url }}"
                                                 alt="{{ creator.user.get_full_name }}" class="img-circle">
                                        {% else %}
                                            <img src="{% static "images/avatar.jpg" %}"
                                                 alt="{{ creator.user.get_full_name }}" class="img-circle" style="width: 50px">
                                        {% endif %}
                                    </a>

                                    <div id='{{ creator.user.username }}' class="media-body" style="padding-left: 10px;">
                                        <h4 class="media-heading"><a href="#" style="color: white">{{ creator.user.get_full_name }}</a></h4>

                                        {% if creator.inital.awaiting_confirmation %}
                                            <p style="margin-bottom: 5px;"><strong>Awaiting Confirmation</strong></p>
                                        {% endif %}

                                        {% if creator.summary %}
                                            <div id="creator-{{ creator.user.username }}-summary" class="creator-summary" style="margin: 0px;">
                                                {% autoescape off %} {{ creator.summary }} {% endautoescape %}
                                            </div>
                                        {% else %}
                                            <div id="creator-{{ creator.user.username }}-summary" class="creator-summary" style="margin: 0px;">
                                                <p>Click to add a summary of {{ creator.user.get_full_name }}'s contribution</p>
                                            </div>
                                        {% endif %}

                                        {% if not creator.is_owner %}
                                            <div class="checkbox checkbox-inline no-margin-top">
                                                {% if creator.is_admin %}
                                                    <input type="checkbox" name="is-adimn" style="color: white" checked onchange="updateCreator('{{ creator.user.username }}', 'admin', this.checked)">Project administrator<br>
                                                {% else %}
                                                    <input type="checkbox" name="is-adimn" style="color: white" onchange="updateCreator('{{ creator.user.username }}', 'admin', this.checked)">Project administrator<br>
                                                {% endif %}
                                            </div>

                                            <a id="remove-{{ creator.user.username }}" href="#" onclick="removeCreator('{{ creator.user.username }}')" style="color: white;"><strong><u>Remove from project</u></strong></a>
                                        {% else %}
                                            <p class="no-margin-bottom"><strong>Project Owner</strong></p>
                                        {% endif %}
                                    </div>

                                    <hr style="margin: 10px 0px 10px 0px; color: white;">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="ui-widget">
                            <input id="creatorInput" onkeyup="userLookupKeyup()" style="color: black; padding-left: 3px; margin-top: 15px" placeholder="Add a username">
                            <i id="user-lookup-add" class="fa fa-plus-circle hidden" style="color: white;"
                               onclick="userLookup()"></i>
                        </div>

                        <div id="add-creator"></div>

                        <div id="creator-error" class="hidden">
                            <p id="creator-error-message" style="margin: 10px 0px 0px 0px"></p>
                        </div>
                    </div>
                    <br>

                    <div class="panel panel-default animated fadeInUp animation-delay-12">
                        <div class="panel-heading"><i class="fa fa-tags"></i>Tags</div>
                        <div class="panel-body">
                            <input id="tags-input" type="text" class="label-success" data-role="tagsinput"
                                   style="display: none;">

                            <p id="tags-error-message" class="hidden" style="color: red;">
                                <i class="fa fa-exclamation-circle" style="color: red; margin-right: 3px;"></i>
                            </p>
                        </div>
                    </div>

                    <div class="panel panel-default animated fadeInUp animation-delay-12">
                        <div class="panel-heading"><i class="fa fa-database"></i> Technologies</div>
                        <div class="panel-body">
                            <div class="ui-widget">
                                <input id="technologyInput" onkeyup="newTechnology()">
                                <i id="addTechnology" class="fa fa-plus-circle hidden" style="color: #8ADE24;"
                                   onclick="addTechnology()">
                                </i>

                                <p id="technology-error-message" class="hidden" style="color: red;">
                                    <i class="fa fa-exclamation-circle" style="color: red; margin-right: 3px;"></i>
                                </p>

                                <div id="technologies" style="margin-top: 10px">
                                     {% for technology in project_technologies %}
                                        <div id="technology-{{ technology.technology.name }}">
                                            <p class="addedTechnology" id="technology-{{ technology.technology.name }}-name">
                                                {{ technology.technology.name }}
                                                <i id="technology-{{ technology.technology.name }}-icon" class="fa fa-minus-circle"
                                                   style="color: red; padding-left: 5px;" onclick="removeTechnology('{{ technology.technology.name }}')">
                                                </i>
                                            <p>
                                            <p id="technology-{{ technology.technology.name }}-error-message" class="hidden" style="color: red;">
                                                <i class="fa fa-exclamation-circle" style="color: red; margin-right: 3px;"></i>
                                            </p>
                                        </div>
                                     {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default animated fadeInUp animation-delay-12">
                        <div class="panel-heading"><i class="fa fa-desktop"></i> Design and code</div>
                        <div class="panel-body center">
                            <p>Link to your project's Github account</p>

                            <a href="{% url 'social:begin' 'github' %}" class="animated fadeIn animation-delay-7 git"
                               style="color: transparent; padding-top: 20px">
                                <i class="fa fa-github fa-3x" style="color: #2a2a2a;"></i>
                            </a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>

            <input type="submit" value="Save" />
        </form>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "froala_editor/js/froala_editor.min.js" %}"></script>
    <script src="{% static "js/bootstrap-tagsinput.js" %}"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{% static "js/jquery.formset.js" %}"></script>

    <script>
        (function($){
            function processForm( e ){
                $.ajax({
                    url: "{% url 'project_update' %}",
                    dataType: 'text',
                    type: 'post',
                    contentType: 'application/x-www-form-urlencoded',
                    data: $(this).serialize(),
                    success: function( data, textStatus, jQxhr ){
                        $('#response pre').html( data );
                    },
                    error: function( jqXhr, textStatus, errorThrown ){
                        console.log( errorThrown );
                    }
                });

                e.preventDefault();
            }

            $('#crators-form').submit( processForm );
        })(jQuery);

        var userLookupKeyup = function () {
            $('#user-lookup-add').removeClass('hidden');

            if (event.keyCode == 13) {
                userLookup();
            }
        };

        var userLookup = function (username) {
            var username = $('#creatorInput').val();

            if (username.length > 0) {
                $.ajax({
                    url: "{% url 'get_user' %}",
                    type: 'POST',
                    dataType: 'json',
                    data: {username: username,
                           csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function (data, textStatus, xhr) {
                        if (data.success === true) {
                            $('#creator-error').addClass('hidden');

                            var new_creators = $('#add-creator');

                            new_creators.html('<div id="new-creator-div" style="margin-top: 15px;">' +
                                                '<a class="pull-left" href="#">' +
                                                    '<img src="' + data.thumbnail + '" alt="' + data.full_name + '" class="img-circle" style="width: 50px">' +
                                                '</a>' +
                                                '<h4 class="media-heading"><a href="#" style="color: white">' + data.full_name + '</a></h4>' +
                                                '<a class="btn btn-default btn-sm" onClick="addCreator(&quot;' + data.username +'&quot;, &quot;' + data.thumbnail + '&quot;, &quot;' + data.full_name + '&quot;)" style="margin-top: 5px">Add Creator</a>' +
                                              '</div>');
                        }
                        else {
                            $('#creator-error').removeClass('hidden');
                            $('#creator-error-message').text(data.message);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        $('#creator-error').removeClass('hidden');
                        $('#creator-error-message').html('<i class="fa fa-exclamation-circle" style="color: white; margin-right: 3px;"></i> ' + xhr.responseJSON.message);
                    }
                });
            }
            else {
                $('#creator-error').removeClass('hidden');
                $('#creator-error-message').html('<i class="fa fa-exclamation-circle" style="color: white; margin-right: 3px;"></i> Please provide a username');
            }

            $('#creatorInput').val('');
            $('#user-lookup-add').addClass('hidden');
        };

        var updateCreator = function (username, field, value) {
            $.ajax({
                    url: "{% url 'update_creator' %}",
                    type: 'POST',
                    dataType: 'json',
                    data: {username: username,
                           field: field,
                           value: value,
                           project: {{ project_id }},
                           csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function (data, textStatus, xhr) {
                        if (data.content.success === true) {
                            $('#creator-error').addClass('hidden');
                        }
                        else {
                            $('#creator-error').removeClass('hidden');
                            $('#creator-error-message').text(data.content.message);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        $('#creator-error').removeClass('hidden');
                        $('#creator-error-message').html('<i class="fa fa-exclamation-circle" style="color: white; margin-right: 3px;"></i> ' + xhr.responseJSON.message);
                    }
                });
        };

        var removeCreator = function (username) {
            $.ajax({
                    url: "{% url 'remove_creator_from_project' %}",
                    type: 'POST',
                    dataType: 'json',
                    data: {username: username,
                           project: {{ project_id }},
                           csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function (data, textStatus, xhr) {
                        if (data.content.success === true) {
                            $('#creator-error').addClass('hidden');
                            $('#creator-' + username).remove();
                        }
                        else {
                            $('#creator-error').removeClass('hidden');
                            $('#creator-error-message').text(data.content.message);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        $('#creator-error').removeClass('hidden');
                        $('#creator-error-message').html('<i class="fa fa-exclamation-circle" style="color: white; margin-right: 3px;"></i> ' + xhr.responseJSON.message);
                    }
                });
        };

        var addCreator = function (username, thumbnail, fullName) {
            if (username.length > 0) {
                $.ajax({
                    url: "{% url 'add_creator_to_project' %}",
                    type: 'POST',
                    dataType: 'json',
                    data: {username: username,
                           project: {{ project_id }},
                           csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function (data, textStatus, xhr) {
                        if (data.content.success === true) {
                            $('#creator-error').addClass('hidden');

                            var creators = $('#creators');

                            creators.append(
                                    '<div id="creator-' + username + '">' +
                                        '<a class="pull-left" href="#">' +
                                        '<img src="' + thumbnail + '" alt="' + fullName + '" class="img-circle" style="width: 50px">' +
                                        '</a>' +

                                        '<div id="' + username + '" class="media-body" style="padding-left: 10px;">' +
                                            '<h4 class="media-heading"><a href="#" style="color: white">' + fullName + '</a></h4>' +

                                            '<p style="margin-bottom: 5px;"><strong>Awaiting Confirmation</strong></p>' +

                                            '<div id="creator-' + username + '-summary" class="creator-summary" name="' + username + '" style="margin-bottom: 0px;">' +
                                                '<p>Click to add a summary of ' + fullName + '&apos;s contribution</p>' +
                                            '</div>' +

                                            '<div class="checkbox checkbox-inline" style="margin-bottom: 5px;">' +
                                                '<input type="checkbox" name="is-adimn" style="color: white; onchange="updateCreator(&apos;;'+ username +'&apos;, &apos;admin&apos;, this.checked)"">Project administrator<br>' +
                                            '</div>' +

                                            '<a id="remove-' + username + '" href="#" onclick="removeCreator(&quot;' + username + '&quot;)" style="color: white;"><strong><u>Remove from project</u></strong></a>' +

                                        '</div>' +
                                        '<hr style="margin: 10px 0px 0px 0px; color: white;">' +
                                    '</div> '
                            );

                            $('#new-creator-div').remove()

                             $('#creator-' + username + '-summary').editable({
                                imageUpload: false,
                                imageLink: false,
                                buttons: ['bold', 'italic', 'underline', 'fontSize', 'sep', 'formatBlock',
                                          'blockStyle', 'align',  'outdent', 'indent', 'sep', 'undo', 'redo'],
                                saveParams: {
                                    csrfmiddlewaretoken: '{{ csrf_token }}',
                                    summary: true,
                                    project: {{ project_id }},
                                    username: username
                                },
                                saveURL: "{% url 'update_creator' %}",
                                autosave: true,
                                autosaveInterval: 2500,
                                crossDomain: false
                            });
                        }
                        else {
                            $('#creator-error').removeClass('hidden');
                            $('#creator-error-message').text(data.content.message);
                        }
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        $('#creator-error').removeClass('hidden');
                        $('#creator-error-message').html('<i class="fa fa-exclamation-circle" style="color: white; margin-right: 3px;"></i> ' + xhr.responseJSON.message);
                    }
                });
            }
            else {
                $('#creator-error').removeClass('hidden');
                $('#creator-error-message').html('<i class="fa fa-exclamation-circle" style="color: white; margin-right: 3px;"></i> Please provide a username');
            }

            $('#creatorInput').val('');
            $('#addCreator').addClass('hidden');
        };

        var newTechnology = function () {
            $('#addTechnology').removeClass('hidden');

            if (event.keyCode == 13) {
                addTechnology();
            }
        };

        var addTechnology = function () {
            var value = $('#technologyInput').val();

            $.ajax({
                url: "{% url 'add_technology_to_project' %}",
                type: 'POST',
                dataType: 'json',
                data: {technology: value,
                       project: {{ project_id }},
                       csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data, textStatus, xhr) {
                    if (data.content.success === true) {
                        $('#technology-error-message').addClass('hidden');
                        $('#technologies').append('<div id="technology-' + value + '"> <p class="addedTechnology" id="technology-' + value + '-name">' + value + '<i id="technology-' + value + '-icon" class="fa fa-minus-circle" style="color: red; padding-left: 5px;" onclick="removeTechnology(&quot;' + value + '&quot;)"></i><p> <p id="technology-' + value + '-error-message" class="hidden" style="color: red;"><i class="fa fa-exclamation-circle" style="color: red; margin-right: 3px;"></i> </p></div>');
                        $('#technologyInput').val('');
                        $('#addTechnology').addClass('hidden');
                    }
                    else {
                        $('#technology-error-message').removeClass('hidden');
                        $('#technology-error-message').text(data.content.message);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    $('#technology-error-message').removeClass('hidden');
                    $('#technology-error-message').html('<i class="fa fa-exclamation-circle" style="color: white; margin-right: 3px;"></i> ' + xhr.responseJSON.message);
                }
            });
        };

        var removeTechnology = function (value) {
             $.ajax({
                url: "{% url 'remove_technology_from_project' %}",
                type: 'POST',
                dataType: 'json',
                data: {technology: value,
                       project: {{ project_id }},
                       csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data, textStatus, xhr) {
                    if (data.content.success === true) {
                        $('#technology-' + value).remove();
                    }
                    else {
                        $('#technology-' + value + '-error-message').removeClass('hidden');
                        $('#technology-' + value + '-error-message').text(data.content.message);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    $('#technology-' + value + '-error-message').removeClass('hidden');
                    $('#technology-' + value + '-error-message').text(xhr.responseJSON.message);
                }
            });
        };

        {# todo fix for initialisation #}
        $('#tags-input').on('beforeItemAdd', function(event) {
            $.ajax({
                url: "{% url 'add_tag_to_project' %}",
                type: 'POST',
                dataType: 'json',
                data: {tag: event.item,
                       project: {{ project_id }},
                       csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data, textStatus, xhr) {
                    if (data.content.success === true) {
                        $('#tags-error-message').addClass('hidden')
                    }
                    else {
                        $('tags-input').tagsinput('remove', event.item);
                        $('#tags-error-message').removeClass('hidden')
                        $('#tags-error-message').text(data.content.message);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    $('tags-input').tagsinput('remove', event.item);
                    $('#tags-error-message').removeClass('hidden');
                    $('#tags-error-message').text(xhr.responseJSON.message);
                }
            });
        });

        $('#tags-input').on('beforeItemRemove', function(event) {
            $.ajax({
                url: "{% url 'remove_tag_from_project' %}",
                type: 'POST',
                dataType: 'json',
                data: {tag: event.item,
                       project: {{ project_id }},
                       csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data, textStatus, xhr) {
                    if (data.content.success === true) {
                        $('#tags-error-message').addClass('hidden')
                    }
                    else {
                        $('tags-input').tagsinput('add', event.item);
                        $('#tags-error-message').removeClass('hidden')
                        $('#tags-error-message').text(data.content.message);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    $('tags-input').tagsinput('add', event.item);
                    $('#tags-error-message').removeClass('hidden');
                    $('#tags-error-message').text(xhr.responseJSON.message);
                }
            });
        });

        var editSocialURL = function (name, link) {
            var input = $('#id_' + name);
            if (input.val() == '') {
                input.val(link);
            }

            $('#div-' + name).removeClass('hidden');
        };

        var updateSocialKeyUp = function (name) {
            if (event.keyCode == 13) {
                updateSocialURL(name);
            }
        };

        var updateSocialURL = function (name) {
            var input = $('#id_' + name),
                    link = input.val(),
                    icon = $('#link-' + name),
                    inputDiv = $('#div-' + name),
                    errorMessageDiv = $('#social-link-error'),
                    errorMesage = $('#social-link-error-' + name),
                    valid = false;

            if (name === 'google-plus'
                    && (link.startsWith('http://plus.google.com/')
                        || link.startsWith('https://plus.google.com/')
                        || link.startsWith('www.plus.google.com/'))
                    && (!link.endsWith('.com/') && !link.endsWith('.com'))){
                valid = true;
            }
            else if ((link.startsWith('http://www.' + name + '.com/')
                        || link.startsWith('https://www.' + name + '.com/')
                        || link.startsWith('www.' + name + '.com/'))
                      && (!link.endsWith('.com/') && !link.endsWith('.com'))){
                valid = true;
            }

            if (valid) {
                $('#div-' + name).addClass('hidden');

                icon.removeClass('grey');
                icon.addClass(name);

                inputDiv.removeClass('has-error');
                errorMesage.addClass('hidden');
            }
            else {
                inputDiv.addClass('has-error');

                errorMessageDiv.removeClass('hidden');
                errorMesage.removeClass('hidden');
            }
        };

        $("#id_facebook").keyup(function () {
            updateSocialKeyUp('facebook');
        });
        $("#id_google-plus").keyup(function () {
            updateSocialKeyUp('google-plus');
        });
        $("#id_instagram").keyup(function () {
            updateSocialKeyUp('instagram');
        });
        $("#id_pinterest").keyup(function () {
            updateSocialKeyUp('pinterest');
        });
        $("#id_twitter").keyup(function () {
            updateSocialKeyUp('twitter');
        });

        $(function(){
          $('.logo').editable({})
        });

        $(function () {
            {% autoescape off %}
                var availableTechnologies = {{ technologies }},
                    tags = {{ project_tags }};
            {% endautoescape %}

            $("#technologyInput").autocomplete({
                source: availableTechnologies
            });

            for (var i = 0; i < tags.length; i++) {
                $('#tags-input').tagsinput('add', tags[i]);
            }

            $('#tags-input').tagsinput({allowDuplicates: false});
        });

        $('.creator-summary').each(function(){
            $(this).editable({
                imageUpload: false,
                imageLink: false,
                buttons: ['bold', 'italic', 'underline', 'fontSize', 'sep', 'formatBlock',
                          'blockStyle', 'align',  'outdent', 'indent', 'sep', 'undo', 'redo'],
                saveParams: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    field: 'summary',
                    project: {{ project_id }},
                    username: this.parentElement.id
                },
                saveURL: "{% url 'update_creator' %}",
                autosave: true,
                autosaveInterval: 2500,
                crossDomain: false
            });
        });
    </script>

{% endblock %}


