{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}HackLaunch - Project{% endblock %}

{% block extra_css %}
    <link href="{% static "css/project.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "froala_editor/css/froala_editor.min.css" %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static "froala_editor/css/froala_style.min.css" %}" media="all" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-top: 25px;">
                <div class="title animated fadeInDown animation-delay-5" style="padding: 10px; margin: 0px;">
                    {% if project.logo %}
                        <img class='logo' src="{{ project.logo.url }}" alt="Logo" width="200"
                             style="padding-bottom: 15px;"/>
                    {% else  %}
                        <img class='logo' src="{% static "images/add-a-logo.png" %}" alt="Logo" width="200"
                             style="padding-bottom: 15px;"/>
                    {% endif %}

                    <div id="project-title" class="project-title">
                        {% autoescape off %} {{ project.title }} {% endautoescape %}
                    </div>

                    <div id="project-tagline" class="slogan project-tag-line">
                        {% autoescape off %} {{ project.tag_line }} {% endautoescape %}
                    </div>
            </div>

            <div class="col-md-12 center">
                <div class="slidebar-social-icons center small-margin-bottom fadeInDown animation-delay-3">
                    {% if project.facebook %}
                        <a href="{{ project.facebook }}" class="social-icon-ar facebook"><i
                                class="fa fa-facebook"></i></a>
                    {% endif %}
                    {% if project.google_plus %}
                        <a href="{{ project.google_plus }}" class="social-icon-ar google-plus"><i
                                class="fa fa-google-plus"></i></a>
                    {% endif %}
                    {% if project.instagram %}
                        <a href="{{ project.instagram }}" class="social-icon-ar instagram"><i
                                class="fa fa-instagram"></i></a>
                    {% endif %}
                    {% if project.pinterest %}
                        <a href="{{ project.pinterest }}" class="social-icon-ar pinterest"><i
                                class="fa fa-pinterest"></i></a>
                    {% endif %}
                    {% if project.twitter %}
                        <a href="{{ project.twitter }}" class="social-icon-ar twitter"><i
                                class="fa fa-twitter"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9 ">
                <h2 class="section-title no-margin-top no-margin-bottom">
                    Project Pitch

                    {% if project_admin %}
                        <a id="edit-project" class="button button-highlight button-pill button-small pull-right margin-top-10" href="{% url 'project_edit' slug=project.slug %}">
                            <strong>
                                <i class="fa fa-pencil" style="color: white; padding-right: 5px"></i>Edit Project
                            </strong>
                        </a>
                    {%  else %}
                        {% if follower %}
                            <p id="follow" class="hidden button button-highlight button-pill button-small pull-right margin-top-10" onclick="followProject(true)">
                                <strong><i class="fa fa-plus-circle" style="color: white; padding-right: 5px"></i>Follow</strong>
                            </p>
                            <p id="unfollow" class="button button-pill button-small pull-right margin-top-10" onclick="followProject(false)">
                                <strong><i class="fa fa-minus-circle" style="color: white; padding-right: 5px"></i>Unfollow</strong>
                            </p>
                        {% else %}
                            <p id="follow" class="button button-highlight button-pill button-small pull-right margin-top-10" onclick="followProject(true)">
                                <strong><i class="fa fa-plus-circle" style="color: white; padding-right: 5px"></i>Follow</strong>
                            </p>
                            <p id="unfollow" class="hidden button button-pill button-small pull-right margin-top-10" onclick="followProject(false)">
                                <strong><i class="fa fa-minus-circle" style="color: white; padding-right: 5px"></i>Unfollow</strong>
                            </p>
                        {% endif %}
                    {% endif %}
                </h2>
                <div id="follow-error" class="hidden">
                    <p style="text-align: center; color: red;">
                        <i class="fa fa-exclamation-circle" style="color: red;"></i>
                        <span id="follow-error-message"></span>
                    </p>
                </div>
                {% autoescape off %} {{ project.pitch }} {% endautoescape %}

                <div class="margin-top-20">
                    <h2 class="section-title no-margin-top ">Time Line</h2>
                    <ul class="timeline-2">
                        {% for post in posts %}
                            <br>
                            {% if post.is_published %}
                                <li class="animated fadeInRight animation-delay-2">
                                    <time class="timeline-time" datetime="">{{ post.date_added }}</time>
                                    <i class="timeline-2-point"></i>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            {% autoescape off %} {{ post.title }} {% endautoescape %}
                                        </div>

                                        <div>
                                            {% autoescape off %} {{ post.post }} {% endautoescape %}
                                        </div>
                                    </div>
                                </li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </div>
        </div>
        <div class="col-md-3">

            <div class="fadeInUp animation-delay-12">

            </div>

            <div class="content-box box-primary animated fadeInDown animation-delay-14">
                <h4 class="content-box-title" style="margin-top: 0px; padding: 0px;"><strong>Creators</strong></h4>

                {% for creator in creators %}
                    {% if not creator.awaiting_confirmation or not creator.is_active %}
                        <div id="creator-{{ creator.creator.username }}">
                            <a class="pull-left" href="/users/{{ creator.creator.userprofile.slug }}">
                                <img src="{{ creator.creator.userprofile.get_thumbnail }}"
                                     alt="{{ creator.creator.get_full_name }}" class="img-circle" style="width: 50px; height: 50px;">
                            </a>

                            <div id='{{ creator.creator.username }}' class="media-body" style="padding-left: 10px;">
                                <h4 id="{{ creator.creator.username }}" class="media-heading creator-name">
                                    <a href="/users/{{ creator.creator.userprofile.slug }}" style="color: white">{{ creator.creator.get_full_name }}</a>
                                </h4>

                                {% if creator.summary %}
                                    <div id="creator-{{ creator.creator.username }}-summary" class="creator-edit"
                                         style="margin: 0px;">
                                        {% autoescape off %} {{ creator.summary }} {% endautoescape %}
                                    </div>
                                {% else %}
                                    <div id="creator-{{ creator.creator.username }}-summary" class="creator-edit"
                                         style="margin: 0px; padding-bottom: 40px; width: 150px;">

                                    </div>
                                {% endif %}
                            </div>

                            <hr style="margin: 10px 0px 10px 0px; color: white;">
                        </div>
                    {% endif %}
                {% endfor %}
                <br>
            </div>

            {% if prior_creators %}
                <div class="content-box box-primary animated fadeInDown animation-delay-14">
                    <h4 class="content-box-title" style="margin-top: 0px; padding: 0px;"><strong>Prior Creators</strong></h4>

                    {% for creator in creators %}
                        {% if not creator.inital.awaiting_confirmation and not creator.is_active %}
                            <div id="creator-{{ creator.creator.username }}">
                                <a class="pull-left" href="/users/{{ creator.creator.userprofile.slug }}">
                                    <img src="{{ creator.creator.userprofile.get_thumbnail }}"
                                         alt="{{ creator.creator.get_full_name }}" class="img-circle" style="width: 50px; height: 50px;">
                                </a>

                                <div id='{{ creator.creator.username }}' class="media-body" style="padding-left: 10px;">
                                    <h4 id="{{ creator.creator.username }}" class="media-heading creator-name">
                                        <a href="/users/{{ creator.creator.userprofile.slug }}" style="color: white">{{ creator.creator.get_full_name }}</a>
                                    </h4>

                                    {% if creator.summary %}
                                        <div id="creator-{{ creator.creator.username }}-summary" class="creator-edit"
                                             style="margin: 0px;">
                                            {% autoescape off %} {{ creator.summary }} {% endautoescape %}
                                        </div>
                                    {% else %}
                                        <div id="creator-{{ creator.creator.username }}-summary" class="creator-edit"
                                             style="margin: 0px; padding-bottom: 40px; width: 150px;">

                                        </div>
                                    {% endif %}
                                </div>

                                <hr style="margin: 10px 0px 10px 0px; color: white;">
                            </div>
                        {% endif %}
                    {% endfor %}
                    <br>
                </div>
            {% endif %}


            <div class="panel panel-default animated fadeInUp animation-delay-12">
                <div class="panel-heading"><i class="fa fa-tags"></i>Tags</div>
                <div class="panel-body">
                    <ul style="padding-left: 0px">
                        {% for tag in project.tags.all %}
                            <li style="display: inline-block; background-color: #F3F3F3; padding-left: 7px; padding-right: 7px; margin-right: 5px; margin-top: 5px;">
                                <div><span>{{ tag }}</span></div>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>


            <div class="panel panel-default animated fadeInUp animation-delay-12">
                <div class="panel-heading"><i class="fa fa-laptop"></i>Technologies Used</div>
                <div class="panel-body">
                    <section>
                        {% for technology in technologies %}
                            <h5 class="no-margin">{{ technology.technology }}</h5>

                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-success" role="progressbar"
                                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: {{ technology.strength }}%;">
                                    <span class="sr-only">{{ technology.strength }}%</span>
                                </div>
                            </div>
                        {% endfor %}
                    </section>
                </div>
            </div>

            {% if project.github_repo %}
                <div class="panel panel-default animated fadeInUp animation-delay-12">
                    <div class="panel-heading"><i class="fa fa-desktop"></i> Design and code</div>

                    <div class="panel-body center">
                        <p>Project's Github repository</p>

                        <a class="animated fadeIn animation-delay-7 git" href="{{ project.github_repo }}")
                           style="color: transparent;">
                            <i class="fa fa-github fa-3x" style="color: #2a2a2a;"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block extra_scripts %}
    <script>
        var followProject = function (follow) {
            $.ajax({
                url: "{% url 'follow_project' %}",
                type: 'POST',
                dataType: 'json',
                data: {follow: follow,
                       project: {{ project.id }},
                       csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data, textStatus, xhr) {
                    if (data.status == 401) {
                        window.location.href = window.location.pathname.substring( 0, window.location.pathname.indexOf( '/' ) + 1 ) + data.redirect
                    }
                    else if (data.status === 500) {
                        var error = $('#follow-error'),
                            errorMessage = $('#follow-error-message')

                        error.removeClass('hidden');
                        errorMessage.text('Internal server error, please try again later.')
                    }
                    else {
                        var error = $('#follow-error');
                        error.addClass('hidden');

                        if (follow === true) {
                            $('#follow').addClass('hidden');
                            $('#unfollow').removeClass('hidden');
                        }
                        else {
                            $('#unfollow').addClass('hidden');
                            $('#follow').removeClass('hidden');
                        }
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    var error = $('#follow-error'),
                        errorMessage = $('#follow-error-message')

                    error.removeClass('hidden');
                    errorMessage.text('Internal server error, please try again later.')
                }
            });
        };
    </script>
{% endblock %}
