{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}HackLaunch - Edit Project{% endblock %}

{% block extra_css %}
    <link href="{% static "css/bootstrap-tagsinput.css" %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/toastr.min.css" %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static "froala_editor/css/font-awesome.min.css" %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static "froala_editor/css/froala_editor.min.css" %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static "froala_editor/css/froala_style.min.css" %}" media="all" rel="stylesheet" type="text/css"/>
    <link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <script src="{% static "js/jquery.min.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container">

        <form id="crators-form" action="." method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-12" style="padding-top: 25px;">
                    <div class="title animated fadeInDown animation-delay-5" style="padding: 10px; margin: 0px;">
                        <div id="logo-image">
                            {% if project.logo %}
                                <img id='logo' class='logo' src="{{ project.logo.url }}" alt="Logo" width="200" style="padding-bottom: 15px;"/>
                            {% else %}
                                <img id='logo' class='logo' src="{% static "images/add-a-logo.png" %}" alt="Logo" width="200" style="padding-bottom: 15px;"/>
                            {% endif %}
                        </div>
                        <div id="project-title" class="project-title">
                            {% autoescape off %} {{ project.title }} {% endautoescape %}
                        </div>
                    </div>
                    <div id="project-tagline" class="slogan text-center no-margin-bottom project-tagline">
                        {% autoescape off %} {{ project.tag_line }} {% endautoescape %}
                    </div>
                </div>

                <div class="col-md-12 center">
                    <div class="small-margin-bottom fadeInDown animation-delay-3"
                         style="margin-top: 20px;">
                        {% if project.facebook %}
                            <p id='link-facebook' class="social-icon-ar facebook" data-link="{{ project.facebook }}"
                               onclick="editSocialURL('facebook', $(this).data('link'))" >
                                <i class="fa fa-facebook"></i></p>
                        {% else %}
                            <p id='link-facebook' class="social-icon-ar grey"
                               onclick="editSocialURL('facebook', 'http://www.facebook.com/')"><i
                                    class="fa fa-facebook"></i></p>
                        {% endif %}

                        {% if project.google_plus %}
                            <p id='link-google-plus' class="social-icon-ar google-plus" data-link="{{ project.google_plus.url }}"
                               onclick="editSocialURL('google-plus', $(this).data('link'))">
                                    <i class="fa fa-google-plus"></i></p>
                        {% else %}
                            <p id='link-google-plus' class="social-icon-ar grey"
                               onclick="editSocialURL('google-plus', 'http://plus.google.com/')"><i
                                    class="fa fa-google-plus"></i></p>
                        {% endif %}

                        {% if project.instagram %}
                            <p id='link-instagram' class="social-icon-ar instagram" data-link="{{ project.instagram.url }}"
                               onclick="editSocialURL('instagram', $(this).data('link'))">
                                    <i class="fa fa-instagram"></i></p>
                        {% else %}
                            <p id='link-instagram' class="social-icon-ar grey"
                               onclick="editSocialURL('instagram', 'http://www.instagram.com/')"><i
                                    class="fa fa-instagram"></i></p>
                        {% endif %}

                        {% if project.pinterest %}
                            <p id='link-pinterest' class="social-icon-ar pinterest" data-link="{{ project.pinterest.url }}"
                               onclick="editSocialURL('pinterest', $(this).data('link'))">
                                    <i class="fa fa-pinterest"></i></p>
                        {% else %}
                            <p id='link-pinterest' class="social-icon-ar grey"
                               onclick="editSocialURL('pinterest', 'http://www.pinterest.com/')"><i
                                    class="fa fa-pinterest"></i></p>
                        {% endif %}

                        {% if project.twitter %}
                            <p id='link-twitter' class="social-icon-ar twitter" data-link="{{ project.twitter.url }}"
                               onclick="editSocialURL('twitter', $(this).data('link'))">
                                    <i class="fa fa-twitter"></i></p>
                        {% else %}
                            <p id='link-twitter' class="social-icon-ar grey"
                               onclick="editSocialURL('twitter', 'http://www.twitter.com/')"><i
                                    class="fa fa-twitter"></i></p>
                        {% endif %}
                    </div>

                    <div id='div-facebook' class="row hidden" style="width:100%">
                        <div class="input-group" style="margin: 0 auto;">
                            <input id="id_facebook" class="form-control" type="text" style="width: 250px; margin-bottom: 5px" value="{% autoescape off %}{{ project.facebook }}{% endautoescape %}">

                            <button id="update-facebook" type="button" class="btn btn-ar btn-default"
                                    style="height: 35px; margin-left: 5px;" onclick="updateSocialURL('facebook')">
                                Update
                            </button>
                        </div>
                    </div>
                    <div id="div-instagram" class="row hidden" style="width:100%">
                        <div class="input-group" style="margin: 0 auto;">
                            <input id="id_instagram" class="form-control" type="text" style="width: 250px; margin-bottom: 5px" value="{% autoescape off %}{{ project.instagram }}{% endautoescape %}">
                            <button id="update-instagram" type="button" class="btn btn-ar btn-default"
                                    style="height: 35px; margin-left: 5px;" onclick="updateSocialURL('instagram')">
                                Update
                            </button>
                        </div>
                    </div>
                    <div id="div-google-plus" class="row hidden" style="width:100%">
                        <div class="input-group" style="margin: 0 auto;">
                            <input id="id_google-plus" class="form-control" type="text" style="width: 250px; margin-bottom: 5px" value="{% autoescape off %}{{ project.google_plus }}{% endautoescape %}">
                            <button id="update-google-plus" type="button" class="btn btn-ar btn-default"
                                    style="height: 35px; margin-left: 5px;" onclick="updateSocialURL('google-plus')">
                                Update
                            </button>
                        </div>
                    </div>
                    <div id="div-pinterest" class="row hidden" style="width:100%">
                        <div class="input-group" style="margin: 0 auto;">
                            <input id="id_pinterest" class="form-control" type="text" style="width: 250px; margin-bottom: 5px" value="{% autoescape off %}{{ project.pinterest }}{% endautoescape %}">
                            <button id="update-pinterest" type="button" class="btn btn-ar btn-default"
                                    style="height: 35px; margin-left: 5px;" onclick="updateSocialURL('pinterest')">
                                Update
                            </button>
                        </div>
                    </div>
                    <div id="div-twitter" class="row hidden" style="width:100%">
                        <div class="input-group" style="margin: 0 auto;">
                            <input id="id_twitter" class="form-control" type="text" style="width: 250px; margin-bottom: 5px" value="{% autoescape off %}{{ project.twitter }}{% endautoescape %}">
                            <button id="update-twitter" type="button" class="btn btn-ar btn-default"
                                    style="height: 35px; margin-left: 5px;" onclick="updateSocialURL('twitter')">
                                Update
                            </button>
                        </div>
                    </div>
                    <div id="social-link-error" class="hidden center">
                        <p class="hidden red" id="social-link-error-facebook">Please enter a valid Facebook link</p>
                        <p class="hidden red" id="social-link-error-google-plus">Please enter a valid Google Plus link</p>
                        <p class="hidden red" id="social-link-error-instagram">Please enter a valid Instagram link</p>
                        <p class="hidden red" id="social-link-error-pinterest">Please enter a valid Pinterest link</p>
                        <p class="hidden red" id="social-link-error-twitter">Please enter a valid Twitter link</p>
                    </div>
                    <div id="social-link-error-main" class="hidden">
                        <p style="text-align: center; color: red;">
                            <i class="fa fa-exclamation-circle" style="color: red;"></i>
                            <span id="social-link-error-main-message"></span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9 ">
                    <h2 class="section-title no-margin-top no-margin-bottom">
                        Project Pitch
                    </h2>

                    <div id="{{ post_form.id }}" class="pitch-edit" style="margin-top: 10px; ">
                        {% autoescape off %} {{ project.pitch }} {% endautoescape %}
                    </div>

                    <div>
                        <h2 class="section-title">Time Line
                            <span><p class="btn btn-ar btn-primary pull-right" onclick="addPost()">Create New Post</p></span>
                        </h2>
                    </div>

                    <div id="add-post-errors" class="hidden">
                        <p style="text-align: center; color: red;">
                            <i class="fa fa-exclamation-circle" style="color: red;"></i>
                            <span id="add-post-errors-message"></span>
                        </p>
                    </div>

                    <ul id="time-line" class="timeline-2">
                        {% for post_form in project_posts %}
                            <br/>
                            <li class="animated fadeInRight animation-delay-2">
                                <time class="timeline-time" datetime="">{{ post_form.date_added }}</time>
                                <i class="timeline-2-point"></i>

                                <div class="panel panel-default">
                                    <div class="panel-heading" style="padding-bottom: 0px;">
                                        <div id="{{ post_form.id }}" class="post-title-edit" style="color: black; padding-bottom: 0px;">
                                            {% autoescape off %} {{ post_form.title }} {% endautoescape %}
                                        </div>
                                    </div>

                                    <div id="{{ post_form.id }}" class="post-edit">
                                         {% autoescape off %} {{ post_form.post }} {% endautoescape %}
                                    </div>

                                    <div style="padding: 5px;">
                                        <div style="display: inline-block">
                                            <label>Author </label>
                                            <select class='user-selection' selected="{{ post_form.creator.get_full_name }}" onchange="updatePost('{{ post_form.id }}', 'author', $(this.selectedOptions[0]).val())">
                                                {% for creator in project_creators %}
                                                    <option value="{{ creator.creator.username }}">{{ creator.creator.get_full_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="pull-right">
                                            {% if post_form.is_published %}
                                                <input type="checkbox" name="{{ post_form.id }}-is-adimn" checked onchange="updatePost('{{ post_form.id }}', 'published', this.checked)">Publish post<br>
                                            {% else %}
                                                <input type="checkbox" name="{{ post_form.id }}-is-adimn" onchange="updatePost('{{ post_form.id }}', 'published', this.checked)">Publish post<br>
                                            {% endif %}
                                        </div>

                                        <div id="update-post-errors" class="hidden">
                                            <p style="text-align: center; color: red;">
                                                <i class="fa fa-exclamation-circle" style="color: red;"></i>
                                                <span id="update-post-errors-message"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-3">
                    <div class="content-box box-primary animated fadeInDown animation-delay-14">
                        <h4 class="content-box-title" style="margin-top: 0px; padding: 0px;"><strong>Contributors</strong></h4>

                        <div id="creators" class="media">
                            {% for creator in project_creators %}
                                {% if creator.is_active %}
                                    <div id="creator-{{ creator.creator.username }}">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <a href="{% url 'profile_view' slug=creator.creator.userprofile.slug %}">
                                                    <img src="{{ creator.creator.userprofile.get_thumbnail }}"
                                                         alt="{{ creator.creator.get_full_name }}" class="img-circle" style="width: 50px; height: 50px;">
                                                </a>
                                            </div>
                                            <div class="col-md-9" style="text-align: left;">
                                                <h4 id="{{ creator.creator.username }}" class="media-heading creator-name">
                                                    <a href="{% url 'profile_view' slug=creator.creator.userprofile.slug %}"  style="color: white">{{ creator.creator.get_full_name }}</a>
                                                    {% if not creator.is_owner %}
                                                        <i id="creator-{{ creator.creator.username }}-icon" class="fa fa-minus-circle pull-right"
                                                           style="color: white; padding-left: 5px;" onclick="removeCreator('{{ creator.creator.username }}', '{{ creator.creator.get_full_name }}', '{{ creator.creator.userprofile.get_thumbnail }}')">
                                                        </i>
                                                    {% endif %}
                                                </h4>

                                                <div id='{{ creator.creator.username }}'>
                                                    {% if creator.awaiting_confirmation %}
                                                        <p style="margin-bottom: 0px;"><strong>Awaiting Confirmation</strong></p>
                                                    {% endif %}
                                                </div>

                                                {% if creator.is_owner %}
                                                    <p style="margin-bottom: 10px;"><strong>Project Owner</strong></p>
                                                {% else %}
                                                    {% if creator.is_admin %}
                                                        <input type="checkbox" name="is-adimn" style="color: white; margin-bottom: 15px;" checked onchange="updateCreator('{{ creator.creator.username }}', 'admin', this.checked)">Project administrator<br>
                                                    {% else %}
                                                        <input type="checkbox" name="is-adimn" style="color: white; margin-bottom: 15px;" onchange="updateCreator('{{ creator.creator.username }}', 'admin', this.checked)">Project administrator<br>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div id="{{ creator.creator.username }}">
                                                <div id="creator-{{ creator.creator.username }}-summary" class="creator-edit" style="margin: 0px; padding-left: 10px; padding-right: 10px;">
                                                    {% autoescape off %} {{ creator.summary }} {% endautoescape %}
                                                </div>
                                            </div>
                                        </div>

                                        <hr style="margin: 10px 0px 10px 0px; color: white;">
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="ui-widget row">
                            <div class="col-md-10" style="padding-left: 20px">
                                <input id="creatorInput" onkeyup="userLookupKeyup()" style="color: black; padding-left: 10px; margin-top: 15px; padding-top: 5px;" placeholder="Add a username">
                            </div>
                            <div class="col-md-2" style="padding-left: 5px; padding-top: 3px;">
                                <h4><i id="user-lookup-add" class="fa fa-plus-circle pull-left" style="color: white;" onclick="userLookup()"></i></h4>
                            </div>
                        </div>

                        <div id="add-creator"></div>

                        <div id="creator-error" class="hidden">
                            <p style="text-align: center; color: white; margin: 10px 0px 0px 0px">
                                <i class="fa fa-exclamation-circle" style="color: white;"></i>
                                <span id="creator-error-message"></span>
                            </p>
                        </div>
                    </div>
                    <br>

                    {% if context.prior_creator %}
                        <div id="prior-creators-container">
                    {% else %}
                        <div id="prior-creators-container" class="hidden">
                    {% endif %}
                            <div  class="content-box box-primary animated fadeInDown animation-delay-14">
                                <h4 class="content-box-title" style="margin-top: 0px; padding: 0px;"><strong>Prior-Contributors</strong></h4>

                                <div id="prior-creators" class="media">
                                    {% for creator in project_creators %}
                                        {% if not creator.is_active %}
                                            <div id="prior-creator-{{ creator.creator.username }}" class="creator">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <a href="/users/{{ creator.creator.userprofile.slug }}">
                                                                <img src="{{ creator.creator.userprofile.get_thumbnail }}"
                                                                     alt="{{ creator.creator.get_full_name }}" class="img-circle" style="width: 50px; height: 50px;">
                                                        </a>
                                                    </div>
                                                    <div class="col-md-9" style="text-align: left;">
                                                        <h4 id="{{ creator.creator.username }}" class="media-heading creator-name">
                                                            <a href="/users/{{ creator.creator.userprofile.slug }}" style="color: white">{{ creator.creator.get_full_name }}</a>
                                                            <i id="creator-{{ creator.creator.username }}-icon" class="fa fa-plus-circle pull-right" style="color: white; padding-left: 5px;"
                                                                    onclick="reactivateCreator('{{ creator.creator.username }}', '{{ creator.creator.get_full_name }}', '{{ creator.creator.userprofile.get_thumbnail }}')">
                                                            </i>
                                                        </h4>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div id="{{ creator.creator.username }}">
                                                        <div id="creator-{{ creator.creator.username }}-summary" class="creator-edit" style="margin: 0px;">
                                                            {% autoescape off %} {{ creator.summary }} {% endautoescape %}
                                                        </div>
                                                    </div>
                                                </div>

                                                <hr style="margin: 10px 0px 10px 0px; color: white;">
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <div id="prior-creator-error" class="hidden">
                                    <p style="text-align: center; color: white; margin: 10px 0px 0px 0px">
                                        <i class="fa fa-exclamation-circle" style="color: white;"></i>
                                        <span id="prior-creator-error-message"></span>
                                    </p>
                                </div>
                            </div>
                            <br>
                        </div>

                    <div class="panel panel-default animated fadeInUp animation-delay-12">
                        <div class="panel-heading"><i class="fa fa-tags"></i>Tags</div>
                        <div class="panel-body">
                            <input id="tags-input" type="text" class="label-success"
                                   {% if project_tags %}
                                        value="{{ project_tags }}"
                                   {% endif %}
                                   data-role="tagsinput"
                                   style="display: none;">

                            <p id="tags-error" class="hidden">
                                <i class="fa fa-exclamation-circle" style="color: red; margin-right: 3px;"></i>
                                <span id="tags-error-message" style="color: red;"></span>
                            </p>
                        </div>
                    </div>

                    <div class="panel panel-default animated fadeInUp animation-delay-12">
                        <div class="panel-heading"><i class="fa fa-database"></i>Technologies Used</div>
                        <div class="panel-body">
                            <div class="ui-widget">
                                <div class="input-group">
                                    <input id="technologyInput" placeholder="Add a technology" onkeyup="newTechnology()" style="padding-left: 5px;">
                                    <span class="input-group-addon"><i class="fa fa-plus-circle" onclick="addTechnology()"></i></span>
                                </div>

                                <div>
                                    <p id="technology-error" class="hidden" style="color: red;">
                                        <i class="fa fa-exclamation-circle" style="color: red; margin-right: 3px;"></i>
                                        <span id="technology-error-message"></span>
                                    </p>
                                </div>

                                <div id="technologies" style="margin-top: 10px">
                                     {% for technology in project_technologies %}
                                        <div id="technology-{{ technology.technology.name }}" style="margin-bottom: 15px;">
                                            <div>
                                                <p class="addedTechnology" id="technology-{{ technology.technology.name }}-name">
                                                    {{ technology.technology.name }}
                                                    <i id="technology-{{ technology.technology.name }}-icon" class="fa fa-minus-circle"
                                                       style="color: black; padding-left: 5px;" onclick="removeTechnology('{{ technology.technology.name }}')">
                                                    </i>
                                                <p>
                                                <p id="technology-{{ technology.technology.name }}-error" class="hidden" style="color: red;">
                                                    <i class="fa fa-exclamation-circle" style="color: red; margin-right: 3px;"></i>
                                                    <span id="technology-{{ technology.technology.name }}-error-message"></span>
                                                </p>
                                            </div>
                                            <div>
                                                <div class="technology-slider" data-name="{{ technology.technology.name }}" data-strength="{{ technology.strength }}"></div>
                                            </div>
                                        </div>
                                     {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default animated fadeInUp animation-delay-12">
                        <div class="panel-heading"><i class="fa fa-desktop"></i> Design and code</div>
                        <div class="panel-body center">
                            <p>Click to link to your project's Github account</p>

                            <p class="animated fadeIn animation-delay-7 git" data-link=("{{ project.github_repo }}")
                               style="color: transparent;" onclick="editRepoURL('github', $(this).data('link'))">
                                <i class="fa fa-github fa-3x" style="color: #2a2a2a;"></i>
                            </p>

                            <div id="div-github-repo" class="input-group hidden" style="margin-top: 15px;">
                                <input id="github-input" class="form-control" type="text" style="margin-bottom: 5px" value="{% autoescape off %}{{ project.github_repo }}{% endautoescape %}">
                                <button type="button" class="btn btn-ar btn-default"
                                        style="height: 35px; margin-left: 5px;" onclick="updateRepo($('#github-input').val(), 'github')">
                                    Update
                                </button>
                            </div>
                            <div id="github-repo-error" class="hidden" style="margin-top: 15px;">
                                <i class="fa fa-exclamation-circle" style="color: red;"></i>
                                <span id="github-repo-error-message" style="color: red"></span>
                            </div>

                            <div id="repo-link-error-main" class="hidden" style="margin-top: 15px;">
                                <i class="fa fa-exclamation-circle" style="color: red;"></i>
                                <span id="repo-link-error-main-message" style="color: red"></span>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </form>
    </div>

    <div id="toast"></div>

{% endblock %}

{% block extra_scripts %}
    <script src="{% static "froala_editor/js/froala_editor.min.js" %}"></script>
    <script src="{% static "froala_editor/js/plugins/tables.min.js" %}"></script>
    <script src="{% static "froala_editor/js/plugins/lists.min.js" %}"></script>
    <script src="{% static "froala_editor/js/plugins/colors.min.js" %}"></script>,
    <script src="{% static "froala_editor/js/plugins/font_family.min.js" %}"></script>
    <script src="{% static "froala_editor/js/plugins/font_size.min.js" %}"></script>
    <script src="{% static "froala_editor/js/plugins/video.min.js" %}"></script>
    <script src="{% static "froala_editor/js/plugins/char_counter.min.js" %}"></script>
    <script src="{% static "js/bootstrap-tagsinput.js" %}"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="{% static "js/jquery.formset.js" %}"></script>
    <script src="{% static "js/toastr.min.js" %}"></script>

    <script>
        $.Editable.DEFAULTS.key = '9uC-7G-7kmcvjfnD3kfg==';

        {% autoescape off %}
            var availableTechnologies = {{ context.technologies }}
                    tags = '';
            {% if project_tags %}
                tags = "{{ project_tags }}";
            {% endif %}

        {% endautoescape %}

        var projectId = {{ context.projectId }},
            CSRFToken = '{{ csrf_token }}',
            imageUploadURL = "{% url 'project_image_upload' %}",
            imageDeleteURL = "{% url 'project_image_delete' %}",
            addALogoImage = '{% static "images/add-a-logo.png" %}',
            addPostURL = "{% url 'add_post' %}",
            updatePostURL = "{% url 'update_post' %}",
            getUserURL = "{% url 'get_user' %}",
            updateCreatorURL = "{% url 'update_creator' %}",
            updateProjectURL = "{% url 'update_project' %}", 
            removeCreatorURL = "{% url 'remove_creator_from_project' %}",
            addCreatorURL = "{% url 'add_creator_to_project' %}",
            addTechnologyURL = "{% url 'add_technology_to_project' %}",
            removeTechnologyURL = "{% url 'remove_technology_from_project' %}",
            updateTechnologyURL = "{% url 'update_project_technology' %}",
            addTagURL = "{% url 'add_tag_to_project' %}",
            removeTagURL = "{% url 'remove_tag_from_project' %}",
            updateRepoURL = "{% url 'update_repo' %}";

    </script>

    <script src="{% static "js/projects.js" %}"></script>


{% endblock %}


