{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}HackLaunch - Project List{% endblock %}

{% block projects-nav %}active{% endblock %}

{% block content %}
    <div class="row  margin-top-20">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
            <h2 class="margin-bottom-20  section-title no-margin-top">
                Latest projects
                <a href="{% url 'project_create' %}" class="button button-highlight button-pill button-md pull-right">
                    <strong><i class="fa fa-plus-circle" style="color: white; padding-right: 5px"></i>Create a Project</strong>
                </a>
            </h2>

            <div class="row">
                {%  for project in projects %}
                    {% if project.title and project.tag_line %}
                        <div class="col-sm-4 col-md-3" onclick="location.href='/projects/{{ project.slug }}'">
                            <div class="thumbnail">
                                {% if project.logo %}
                                      <img id='logo' class='logo' src="{{ project.logo.url }}" alt="Logo" style="width: 252px; height: 168px;"/>
                                {% endif %}
                                <div class="caption">
                                    {% autoescape off %}
                                        <h3 class="center"><strong>{{ project.title }}</strong></h3>
                                        <p>{{ project.tag_line }}</p>
                                    {% endautoescape %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


