{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}HackLaunch - Project List{% endblock %}

{% block projects-nav %}active{% endblock %}

{% block content %}
    <div class="row  margin-top-20">
        <h1 style="text-align: center;"><b>{{ project_creator.0.creator.get_full_name }}'s Projects</b></h1>

        <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
            <h2 class="margin-bottom-20  section-title no-margin-top">
                Projects
            </h2>

            <div class="row">
                <ul class="bx-horizontal-click">
                    {%  for creator in project_creator %}
                        {% if creator.project.title and creator.project.tag_line %}
                            <li onclick="location.href='/projects/{{ creator.project.slug }}'">
                                <div class="thumbnail shadow" style="height: 330px; background-color: #333333">
                                    {% if creator.project.logo %}
                                        <img id='logo' class='logo white-border' src="{{ creator.project.logo.url }}" alt="Logo" style="width: 150px; height: 150px; background-color: white"/>
                                    {% else %}
                                        <img id='logo' class='logo white-border' src="{{ creator.creator.userprofile.image.url }}" alt="Logo" style="width: 150px; height: 150px; background-color: whitegs"/>
                                    {% endif %}
                                    <div class="caption" style="padding: 0px;">
                                        {% autoescape off %}
                                            <h3 class="center" style="margin: 15px 0px 10px 0px; color: white;"><strong>{{ creator.project.title }}</strong></h3>
                                            <div class="center" style="margin: 15px 30px 0px 15px; padding: 0px 30px 0px 15px; color: white;">
                                            	<p>{{ creator.project.tag_line }}</p>
                                            </div>
                                        {% endautoescape %}
                                    </div>
                                    <div class="center" style=" position: absolute; bottom: 0; left: 0; height: 25px; background-color: #F0EFED; color: #615F5A">
                                        <p style="font-size: 1.2em;">
                                            <i class="fa fa-heart" style="color: #BFBEBA"></i> {{ creator.project.cumulative_followers_count }}
                                            <i class="fa fa-eye" style="padding-left: 10px; color: #BFBEBA"></i> {{ creator.project.cumulative_view_count }}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <h2 class="margin-bottom-20  section-title no-margin-top">
                Followed Projects
            </h2>
            <div class="row">
                <ul class="bx-horizontal-click">
                    {% for follower in following %}
                        {% if follower.project.title and follower.project.tag_line %}
                            <li onclick="location.href='/projects/{{ follower.project.slug }}'">
                                <div class="thumbnail shadow" style="height: 330px; background-color: #333333">
                                    {% if follower.project.logo %}
                                        <img id='logo' class='logo white-border' src="{{ follower.project.logo.url }}" alt="Logo" style="width: 150px; height: 150px; background-color: white"/>
                                    {% else %}
                                        <img id='logo' class='logo white-border' src="{{ follower.project.creators.first.userprofile.get_thumbnail }}" alt="Logo" style="width: 150px; height: 150px; background-color: white"/>
                                    {% endif %}
                                    <div class="caption" style="padding: 0px;">
                                        {% autoescape off %}
                                            <h3 class="center" style="margin: 15px 0px 10px 0px; color: white;"><strong>{{ follower.project.title }}</strong></h3>
                                            <div class="center" style="margin: 15px 30px 0px 15px; padding: 0px 30px 0px 15px; color: white;">
                                                <p>{{ follower.project.tag_line }}</p>
                                            </div>
                                        {% endautoescape %}
                                    </div>
                                    <div class="center" style=" position: absolute; bottom: 0; left: 0; height: 25px; background-color: #F0EFED; color: #615F5A">
                                        <p style="font-size: 1.2em;">
                                            <i class="fa fa-heart" style="color: #BFBEBA"></i> {{ follower.project.cumulative_followers_count }}
                                            <i class="fa fa-eye" style="padding-left: 10px; color: #BFBEBA"></i> {{ follower.project.cumulative_view_count }}
                                        </p>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/jquery.bxslider.min.js" %}"></script>
    <script src="{% static "js/carousels.js" %}"></script>
{% endblock %}


