{% extends "base.html" %}
{% load staticfiles %}
{% block title %}HackLaunch - Login{% endblock %}

{% block content %}

    <div class="container" style="background-color: #e5e5e5">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center title-text">Sign up or log in</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <h4 class="text-center">With one click</h4>
                <a class="btn btn-block btn-social btn-github"> <i class="fa fa-github"></i> GitHub </a>
                <a class="btn btn-block btn-social btn-linkedin"> <i class="fa fa-linkedin"></i> LinkedIn </a>

            </div><!-- social signin -->

            <div class="col-md-4" style="border-left: solid #eeeeee; border-width: 1px;">
                <h4 class="text-center">With your email and a password</h4>
                <form class="form-signin">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="email" placeholder="email address">
                    </div>

                    <span class="help-block"></span>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>

                    <span class="help-block"></span>

                    <button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>
                </form>

                <span class="help-block"></span>

                <div>
                    <p class="text-center">
                        <a href="#">Forgotten your password?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
