{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}HackLaunch - Innovate or Die{% endblock %}

{% block events-nav %}active{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="title animated fadeInDown animation-delay-5">Innovate or Die? <span>Driving Innovation in business</span></div>
        </div>
        <div class="col-xs-12 text-center">
            <p class="slogan text-center animated bounceInLeft animation-delay-12" style="margin-bottom: 30px;">
            Join our inaugural meet-up to hear from <span>leading figures</span> on how their organisations are
                <span>driving innovation</span> and take some time to <span>network</span> with fellow <span>thought leaders</span>.
            </p>
        </div>
        <div class="col-md-8 wow fadeInUp">
            <h2 class="right-line">Event</h2>
            <p class="p-lg" align="justify">Driving innovations is critical in today’s business and an ever growing concern for businesses.
                To be competitive in the global marketplace, organizations need to be driving more innovation in their products and services.
                They need to innovate rapidly and they need to do it cost-effectively. Even the best technology can’t deliver
                success without focus on business strategy and goals.
                The first HackLaunch event will focus on addressing how to drive innovation, create an entrepreneurial and
                innovative culture that is for sustainable growth.
            </p>

            </p>
            <hr class="dotted">
            <blockquote class="blockquote-color-bg-primary">
                <p>Innovation has nothing to do with how many R&D dollars you have. When Apple came up with the Mac, IBM was
                    spending at least 100 times more on R&D than Apple. It's not about money. It's about the people you have, how you're led,
                    and how much you get it.
                </p>
                <footer>Steve Jobs - Apple CEO</footer>
            </blockquote>

            <div >
            <h2 class="right-line">Speakers</h2>
            </div>
            <div >
                <section>
                    <div class="panel panel-default  animated fadeInDown animation-delay-8">
                        <div class="panel-body">
                            <h3 class="section-title no-margin-top">Damien Cummings<small class="pull-right">CMO at Philips ASEAN & Pacific </small><div class="clearfix"></div></h3>
                            <div class="clearfix"></div>
                            <img src="{% static "images/events/damien-cummings.jpg" %}" alt="Damien Cummings"
                                 class="alignleft imageborder" style="width: 111px; height: 111px">
                            <p class="no-margin-top align="justify"">Damien is instrumental in driving Philips new brand promise “Innovation and you”. With over 20
                                years of experience in the marketing space, Damien prolific career spans across Samsung, Dell, Ogilvy, Citibank and more.</p>

                            <a href="https://www.twitter.com/DamienCummings" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i></a>
                            <a href="http://www.philips.com" >www.philips.com</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="panel panel-default  animated fadeInDown animation-delay-8">
                        <div class="panel-body">
                            <h3 class="section-title no-margin-top">Julien de Salaberry
                                <small class="pull-right">Founder & CIO – The Propell Group</small><div class="clearfix"></div></h3>
                            <div class="clearfix"></div>
                            <img src="{% static "images/events/julien-de-salaberry.jpg" %}" alt="Julien De Salaberry"
                                 class="alignleft imageborder" style="width: 111px; height: 111px">
                            <p class="no-margin-top align="justify"">Julien founded The Propell Group, a boutique venture investor and advisory firm focused on
                                startups and growth companies, based in Singapore. He is an advisor to startups and incubators in healthcare
                                and technology in high growth markets as well as investing in early stage and promising SMEs.</p>

                            <a href="https://twitter.com/enquirepropell" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i>
                            <a href="https://www.linkedin.com/company/2824212?trk=tyah&trkInfo=tarId%3A1403491692571%2Ctas%3Athe%20propell%20group%2Cidx%3A1-1-1"
                               class="social-icon-ar sm linkedin animated fadeInDown"><i class="fa fa-linkedin"></i>
                            <a href="http://www.propellgroup.biz/" >www.propellgroup.biz</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="panel panel-default  animated fadeInDown animation-delay-8">
                        <div class="panel-body">
                            <h3 class="section-title no-margin-top">Jaime Ng<small class="pull-right">Founder at HackLaunch</small><div class="clearfix"></div></h3>
                            <div class="clearfix"></div>
                            <img src="{% static "images/events/jaime-ng.jpg" %}" alt="Jaime Ng"
                                 class="alignleft imageborder" style="width: 111px; height: 111px">
                            <p class="no-margin-top" align="justify">Jaime is a serial entrepreneur focused on driving HackLaunch as a platform for hackathons that helps innovator participate,
                                build and showcase their profile & projects.</p>

                            <a href="https://www.twitter.com/jaime_ng" class="social-icon-ar sm twitter animated fadeInDown"><i class="fa fa-twitter"></i>
                            <a href="http://www.hacklaunch.com" >www.hacklaunch.com</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>


        <div class="col-md-4 wow fadeInUp">
            <h2 class="right-line" style="margin-bottom: 10px" >Event sponsors</h2>
            <div class="row">
                <div class="col-md-6 col-sm-3 col-xs-6"><a href="http://www.ida.gov.sg/Programmes-Partnership/Store/IDA-Labs"><img src="{% static "images/events/IDA-Labs-logo-HR.jpg" %}" alt="IDA Labs" class="img-responsive"></a> </div>
            </div>

            <h2 class="right-line">Venue</h2>
            <div class="row">
                <div style="margin-left: 20px;">
                    <address>
                        <p>111 Middle Road, <strong>National Design Centre</strong>,</p>
                        <p><strong>IDA Labs</strong> @ 03-04, Singapore 188969</p>
                    </address>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3988.793235358597!2d103.853511!3d1.298824!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xebd6bcfaf5795f03!2sNational+Design+Centre!5e0!3m2!1sen!2ssg!4v1430728128158" width="360" height="300" frameborder="0" style="border:0"></iframe>

                </div>
            </div>

            <h2 class="right-line">Schedule</h2>
            <div class="row">
                <div style="margin-left: 20px;">
                    <h3 style="margin-top: 0px;"><strong>8th May 2015</strong></h3>
                    <p class="p-lg"><strong>1800</strong> - Registration, Networking & Refreshments</p>
                    <p class="p-lg"><strong>1830</strong> - Introduction by Jaime Ng</p>
                    <p class="p-lg"><strong>1900</strong> - Guest Speaker: Julien de Salaberry</p>
                    <p class="p-lg"><strong>1945</strong> - Guest Speaker: Damien Cummings</p>
                    <p class="p-lg"><strong>2030</strong> - Networking</p>
                </div>
            </div>

            <h2 class="right-line">Attendees</h2>
            <div class="row">
                <ul class="bx-vertical" style="padding: 0px;">
                    {% for user in event.users.all %}
                        <li style="padding-right: 0px; margin-bottom: 0px; margin-right: 0px; background-color: transparent;">
                            <div style="background-color: #666; cursor:pointer; height: 140px;"
                                 onclick="location.href='/users/{{ user.userprofile.slug }}'";>
                                <div class="row" style="margin: 0px;">
                                    <div class="col-md-4 vertical-center white-border-right" style=" height: 140px;">
                                            <img class="img-responsive img-circle card-head center-block text-center white-border"
                                                 style="border-width: 3px;"
                                                 {% if user.userprofile.thumbnail %}
                                                    src="{{ user.userprofile.thumbnail.url }}" alt="{{ user.get_full_name }}"
                                                 {% else %}
                                                    src="{% static "images/avatar.jpg" %}" class="avatar img-circle" alt="avatar"
                                                 {% endif %} >
                                    </div>
                                    <div class="col-md-8 text-center vertical-center" style="height: 140px; margin-bottom: 0px;">
                                        <div style="width: 100%">
                                            <h4 style="color: white; margin-bottom: 10px; margin-top: 15px">
                                                <strong> @{{ user.username }}</strong>
                                            </h4>

                                            <ul style="padding-left: 0px;">
                                                {% for maker_type in user.userprofile.maker_type.all %}
                                                    {% if maker_type.name != 'Other' %}
                                                        <li style="display: inline-block; padding-left: 3px; padding-right: 3px; margin-right: 5px; color: white;   ">
                                                            <strong>{{ maker_type.name }}</strong>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div> <!-- row -->

</div> <!-- container -->

{% endblock %}

{% block extra_scripts %}
    <script src="{% static "js/carousels.js" %}"></script>
{% endblock %}
